/*

* Repeatable Patterns

* themesflat-top

* themesflat-socials

* *Header

* Mobile navigation

* Blog Grid Some Css Global 

* Page Title

* Blog

* Blog Single

* sidebar

* Pagination

* Page-callout

* themesflat-before-footer

* Widget footer

* Mail Chimp

* Footer

* Bottom

* Bottom menu

* Portfolio Single

* Sidebar Menu

* Gallery Slide VC

* themesflat-text-block-timeline

* themesflat-your-contact

* Page contact 

* Overwrite Accordion

* Page 404

* themesflat List

* GoTop Button

* boxed

* Template Portfolio

* Preload

*/





/* Repeatable Patterns

-------------------------------------------------------------- */

::-moz-selection { 

	color: #fff; 

	text-shadow: none; 

	background: #78b942; 

}



::-webkit-selection { 

	color: #fff; 

	text-shadow: none; 

	background: #78b942; 

}



::selection { 

	color: #fff; 

	text-shadow: none; 

	background: #000; 

}



a,i {

	-webkit-transition: all 0.3s ease 0s;

	-moz-transition: all 0.3s ease 0s;

	-ms-transition: all 0.3s ease 0s;

	-o-transition: all 0.3s ease 0s;

	transition: all 0.3s ease 0s;

}

a {

	color: #222;

	text-decoration: none;

}



a:hover {

	color: #00abc9;

	text-decoration: none;

	-webkit-transition: all 0.3s ease 0s;

	-moz-transition: all 0.3s ease 0s;

	-ms-transition: all 0.3s ease 0s;

	-o-transition: all 0.3s ease 0s;

	transition: all 0.3s ease 0s;

}



a:focus {

	text-decoration: none;

	outline: 0;

}



a:hover, a:focus {

	color: #18ba60;

	text-decoration: none;

	outline: 0;

	-webkit-transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-ms-transition: all 0.3s ease-in-out;

	-o-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;

}



img {

	max-width: 100%;

	height: auto;

}



/* Typography */

body,

button,

input,

select,

textarea {

	font: 14px/25px "Poppins", sans-serif;

	font-weight: 400;

	background: #fff;

	color: #656565;

}	



strong,

b {

	font-weight: 700;

}



p {

	margin-bottom: 20px;

}



article p:last-of-type {

	margin-bottom: 0;

}



dfn,

cite,

em,

i {

	font-style: italic;

}



table {

	width: 100%;

	margin-bottom: 20px;

}



th,td {

	border: 1px solid #dbdbdb;

	padding: 7px;

	text-align: center;

}	



blockquote {

	font-size: 16px;

	color: #888;

	font-style: italic;

	position: relative;

	border: 0;

	padding: 20px 15px 20px 38px;

    margin-bottom: 143px;

}



blockquote .blockqoute-text:before, blockquote .blockqoute-text:after {

	position: absolute;

	left: 0px;

	top: 4px;

	content: "”";

	font-size: 60px;

	line-height: 60px;

	color: rgb(153, 153, 153);

}



blockquote > p:last-child {

	margin-bottom: 0;

}



blockquote cite,

blockquote small {

	font-size: 14px;

}



blockquote em,

blockquote i,

blockquote cite {

	font-style: normal;

}



blockquote strong,

blockquote b {

	font-weight: 600;

}



blockquote > p:last-child {

	margin-bottom: 0;

}



abbr[title] {

	border-bottom: 1px dotted #c0c0c0;

	cursor: help;

}



mark,

ins {

	background-color: #18ba60;

	text-decoration: none;

	color: #fff;

	padding: 7px;

}



sup,

sub {

	font-size: 75%;

	height: 0;

	line-height: 0;

	position: relative;

	vertical-align: baseline;

}



sup {

	top: -6px;

}



sub {

	bottom: -3px;

}



small {

	font-size: 75%;

}



big {

	font-size: 125%;

}



address {

	font-style: italic;

	margin: 0 0 20px;

}



code,

kbd,

tt,

var,

samp,

pre {

	font-family: Inconsolata, monospace;

	-webkit-hyphens: none;

	-moz-hyphens: none;

	-ms-hyphens: none;

	hyphens: none;

}



pre {

	background: #f9f9f9;

	border: 1px solid #eee;

	border-radius: 0;

	font-family: Consolas, monospace;

	height: auto;

	margin: 0 0 20px;

	overflow-x: auto;

	padding: 20px;

}



h1.w6, h2.w6, h3.w6, h4.w6, h5.w6, h6.w6 { font-weight: 600; }

h1.w4, h2.w4, h3.w4, h4.w4, h5.w4, h6.w4 { font-weight: 400; }



h1,h2,h3,h4,h5,h6 { font-weight: 600; color: #222; }

h1,h2,h3,h4,h5,h6 { font-family: "Poppins",sans-serif; }



h1 {

	font-size: 32px;

	line-height: 24px;

}



h2 {

	font-size: 25px;

}



h3 {

	font-size: 22px

}



h4 {

	font-size: 18px;

}



h5 {

	font-size: 15px;

	line-height: 22px;

}



h6 {

	font-size: 14px;

}



strong {

	color:#222;

}



/* Alignments */

.alignleft {

	display: inline;

	float: left;

}



.alignright {

	display: inline;

	float: right;

}



.aligncenter {

	display: block;

	margin-right: auto;

	margin-left: auto;

}



.blockcenter {

	left: 50%;

	transform: translatex(-50%);

	-moz-transform: translatex(-50%);

	- ms-transform: translatex(-50%);

	-webkit-transform: translatex(-50%);

	-o-transform: translatex(-50%);



}



.color_theme {

	color: #18ba60;

}



.title-section.magb-28 {

	margin-bottom: 28px;

}



.float-right {

	float: right;

}



/* bootstrap gutter25*/

.gutter-25.row {

  margin-right: -12.5px;

  margin-left: -12.5px;

}

.gutter-25 > [class^="col-"], .gutter-25 > [class^=" col-"] {

  padding-right: 12.5px;

  padding-left: 12.5px;

}



/* bootstrap gutter10*/

.row.gutter-10 {

	margin-left: -10px;

	margin-right: -10px;

}



.gutter-10 > [class*='col-'] {

    padding-right:10px;

    padding-left:10px;

}



.gutter-10 select,.gutter-10  textarea, 

.gutter-10 input[type="text"], .gutter-10 input[type="password"], 

.gutter-10 input[type="datetime"], .gutter-10 input[type="datetime-local"],

.gutter-10 input[type="date"], .gutter-10 input[type="month"], 

.gutter-10 input[type="time"], .gutter-10 input[type="week"], 

.gutter-10 input[type="number"], .gutter-10 input[type="email"], 

.gutter-10 input[type="url"], .gutter-10 input[type="search"], 

.gutter-10 input[type="tel"], .gutter-10 input[type="color"] {

	margin-bottom: 20px;

}



.mpl-44 {

	padding-left:44px

}



blockquote.alignleft,

.wp-caption.alignleft,

img.alignleft {

	margin: 7px 30px 25px 0 !important;

}



blockquote.alignright,

.wp-caption.alignright,

img.alignright {

	margin: 7px 0 25px 30px !important;

}



blockquote.aligncenter,

.wp-caption.aligncenter,

img.aligncenter {

	clear: both;

}



.wp-caption.alignleft,

.wp-caption.alignright,

.wp-caption.aligncenter {

	margin-bottom: 10px;

}



.clearboth {

	clear:both;

}



/* Content */

.bypostauthor {

}



.sticky,.tag-sticky-2 {

	display: block;

	background: #f7f7f7;

	border: 1px solid rgba(54, 70, 115, 0.08); 

	padding: 30px;

}



.page-header {

	margin: 0;

	border: 0;

}



.page-header .nothing {

	padding: 0;

	background-color: transparent;

	font-size: 40px;

	line-height: 40px;

	color: #ff1200;

}



.site-main {

	position: relative;

}



/* Accessibility */

/* Text meant only for screen readers. */

.screen-reader-text {

	clip: rect(1px, 1px, 1px, 1px);

	position: absolute !important;

	height: 1px;

	width: 1px;

	overflow: hidden;

}



.screen-reader-text:hover,

.screen-reader-text:active,

.screen-reader-text:focus {

	background-color: #f1f1f1;

	border-radius: 3px;

	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);

	clip: auto !important;

	color: #21759b;

	display: block;

	font-size: 14px;

	font-size: 0.875rem;

	font-weight: 600;

	height: auto;

	left: 5px;

	line-height: normal;

	padding: 15px 23px 14px;

	text-decoration: none;

	top: 5px;

	width: auto;

	z-index: 100000;  

}



/* Media */

.page-content .wp-smiley,

.entry-content .wp-smiley,

.comment-content .wp-smiley {

	border: none;

	margin-bottom: 0;

	margin-top: 0;

	padding: 0;

}



/* Make sure embeds and iframes fit their containers. */

embed,

iframe,

object {

	max-width: 100%;

}



.white {

	color: #fff;

}



.medium {

	font-weight: 500;

}



/* Captions */

.wp-caption {

	margin-bottom: 1.5em;

	max-width: 100%;

}



.wp-caption img[class*="wp-image-"] {

	display: block;

	margin: 0 auto;

}



.wp-caption-text {

	text-align: center;

}



.wp-caption .wp-caption-text {

	margin: 0.8075em 0;

}



/* Galleries */

.gallery {

	margin-bottom: 1.5em;

}



.gallery-item {

	display: inline-block;

	text-align: center;

	vertical-align: top;

	width: 100%;

}



.gallery-columns-2 .gallery-item {

	max-width: 50%;

}



.gallery-columns-3 .gallery-item {

	max-width: 33.33%;

}



.gallery-columns-4 .gallery-item {

	max-width: 25%;

}



.gallery-columns-5 .gallery-item {

	max-width: 20%;

}



.gallery-columns-6 .gallery-item {

	max-width: 16.66%;

}



.gallery-columns-7 .gallery-item {

	max-width: 14.28%;

}



.gallery-columns-8 .gallery-item {

	max-width: 12.5%;

}



.gallery-columns-9 .gallery-item {

	max-width: 11.11%;

}



.gallery-caption {

	display: block;

}



/* Elements */

hr {

	background-color: #eee;

	border: 0;

	height: 1px;

	margin-bottom: 20px;

}



ul,

ol {

	padding: 0;

	margin: 0 0 30px 25px;

}



ul {

	list-style: disc;

}



ol {

	list-style: decimal;

}



li > ul,

li > ol {

	margin-bottom: 0;

}



dd, dt {

	line-height: 30px;

}



::-moz-selection { 

	color: #fff; 

	text-shadow: none; 

	background: #333;

}



::-webkit-selection { 

	color: #fff; 

	text-shadow: none; 

	background: #333; 

}



::selection { 

	color: #fff; 

	text-shadow: none; 

	background: #333; 

}



/* Forms */

button,

input[type="button"],

input[type="reset"],

input[type="submit"] {  	

	height: 45px;

	background-color: #18ba60;

	font-family: "Poppins",sans-serif;

	font-size: 12px;

	font-weight: 600;

	line-height: 45px;

	padding: 0 27px;

	border-radius: 3px;  	

	cursor: pointer;  	

	white-space: nowrap;

	border: none;  	

	z-index: 0;

	display: inline-block;

	-webkit-transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-ms-transition: all 0.3s ease-in-out;

	-o-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;

}



button:hover,

input[type="button"]:hover,

input[type="reset"]:hover,

input[type="submit"]:hover {	

	background-color: #2e363a;

	color: #fff;

}



select,

textarea,

input[type="text"],

input[type="password"],

input[type="datetime"],

input[type="datetime-local"],

input[type="date"],

input[type="month"],

input[type="time"],

input[type="week"],

input[type="number"],

input[type="email"],

input[type="url"],

input[type="search"],

input[type="tel"],

input[type="color"] {	

	border: 1px solid #dfdfdf;

	height: 50px;

	padding: 13px 15px; 

	width: 100%;

	color: #999;

	margin-bottom: 30px;  	

	-webkit-transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-ms-transition: all 0.3s ease-in-out;

	-o-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;

}



textarea:focus,

select:focus,

input[type="text"]:focus,

input[type="password"]:focus,

input[type="datetime"]:focus,

input[type="datetime-local"]:focus,

input[type="date"]:focus,

input[type="month"]:focus,

input[type="time"]:focus,

input[type="week"]:focus,

input[type="number"]:focus,

input[type="email"]:focus,

input[type="url"]:focus,

input[type="search"]:focus,

input[type="tel"]:focus,

input[type="color"]:focus {

	border: 1px solid #18ba60;

	outline: none;

	-webkit-box-shadow: none;

	-moz-box-shadow: none;

	box-shadow: none;

}



textarea {

	width: 100%;

	height: 179px;

	padding: 22px 0 0 15px;

}



input[type="checkbox"] {

	display: inline;

}



input:-moz-placeholder,

textarea:-moz-placeholder,

input::-moz-placeholder,

textarea::-moz-placeholder {

	color: #555;

	opacity: 1;

}



input:-ms-input-placeholder,

textarea:-ms-input-placeholder {

	color: #555;

}



input::-webkit-input-placeholder,

textarea::-webkit-input-placeholder {

	color: #555;

	opacity: 1;

}



/* Bootstrap Resetting Elements */

.btn {

	background-image: none;

}



textarea, 

input[type="text"],

input[type="submit"],

input[type="password"], 

input[type="datetime"], 

input[type="datetime-local"], 

input[type="date"], 

input[type="month"], 

input[type="time"], 

input[type="week"], 

input[type="number"], 

input[type="email"], 

input[type="url"], 

input[type="search"], 

input[type="tel"], 

input[type="color"], 

.uneditable-input,

.dropdown-menu,

.navbar .nav > .active > a, 

.navbar .nav > .active > a:hover, 

.navbar .nav > .active > a:focus {

	-webkit-appearance: none;

	text-shadow: none;

	-webkit-box-shadow: none;

	-moz-box-shadow: none;

	-o-box-shadow: none;

	box-shadow: none;	

}



input[type="submit"] {

	border-width: 0;

	color: #fff;

}

/* button */





.content-area .wpb_button {

	position: relative;

	display: inline-block;

	padding: 13px 30px;

	font-family: "Poppins", sans-serif;

	font-size: 14px;

	line-height: 24px;

	font-weight: 700;

	background-color: #2e5797;

	color: #fff;

	-webkit-border-radius: 4px;

	-moz-border-radius: 4px;

	border-radius: 4px;

	-webkit-transition: all 0.3s;

	-moz-transition: all 0.3s;

	-ms-transition: all 0.3s;

	-o-transition: all 0.3s;

	transition: all 0.3s;

}



.content-area .wpb_button:hover {

	background-color: #133974;

	color: #fff;

}





/* Visual Composer

-------------------------------------------------------------- */

body {

	overflow-x: hidden;

}



.themesflat-relative {

	position: relative;

}



.themesflat-pad-015, .vc_column_container.themesflat-pad-015 {

	padding:0 15px;

}



.align-left {

	text-align: left;

}



p.style-v1{

	font-size: 18px;

	line-height: 30px;

}   



.themesflat-center {

	position: relative;

	transform: translateX(-50%);

	left: 50%;

}    



/* Rev slider

-------------------------------------------------------------- */

.tp-caption.slider_subline {

	letter-spacing: -0.32px!important;

}



.tp-caption.themesflat_btnslider i {

	font-size: 12px;

	margin-left: 14px;

	position: relative;

	top: -1px;

}



/* themesflat-top

-------------------------------------------------------------- */

.themesflat-top {

	background-color: #3a526a;

	font-size: 12px;

	font-family: "Poppins", sans-serif;

	min-height: 45px;

}



.themesflat-top ul {

	margin: 0;

}



.themesflat-top .content-left li {

	display: inline-block;

	padding-right: 16px;

	padding-left: 11px;

	margin-top: 12px;

	letter-spacing: -0.25px;

}



.themesflat-top .content-left li:first-child {

	padding-left: 0;

}



.themesflat-top .content-left li a {

	margin-left: -6px;

	letter-spacing: 0;

}



.themesflat-top .content-left li i {

	margin-right: 8px;

}



.themesflat-top,

.themesflat-top a {

	color: #fff;

}



.themesflat-top a:hover {

	color: #18ba60;

}



.themesflat-top .custom-info ul {

	padding: 0;

	margin: 0;

	list-style: none;	

	font-family: "Poppins", sans-serif;

}



.themesflat-top .custom-info ul li {

	display: inline-block;

	margin-right: 27px;

	position: relative;

	line-height: 30px;

}



.themesflat-top.header-style1 .custom-info ul li:after {

	position: absolute;

	right: -15px;

	top: 5px;

	width: 1px;

	height: 14px;

	background-color: #617588;

	content: "";

}



.themesflat-top .custom-info ul li:last-child:after {

	display: none;

}



.themesflat-top .custom-info ul li i {	

	margin-right: 8px;

}



.themesflat-top .custom-info a,

.themesflat-top .custom-info i,

.themesflat-top .custom-info {	

	font-size: 12px;	

}



.themesflat-top .custom-info a:hover {

	color: #18ba60;

}



.themesflat-top .content-right > * {

	display: inline-block;

	vertical-align: top;

}



.themesflat-top .themesflat-socials {

	margin-right: 7px;

	margin-top: 10px;

}



.themesflat-top .info-top-right {

	position: relative;

	line-height: 30px;

	padding-left: 20px;

}



/* info-top-right */

.info-top-right {

	color: #fff;

}



.info-top-right span {	

	margin-right: 21px;

	letter-spacing: -0.1px;

}



.info-top-right span i {

	margin-right: 8px;

}



.info-top-right a.appoinment,

.nav-widget a.appoinment,

.wrap-header-content a.appoinment {

	display: inline-block;

	background-color: #18ba60;

	font-size: 14px;

	text-transform: uppercase;

	font-weight: 600;

	height: 45px;

	line-height: 45px;

	padding: 0 27px;

	color: #fff;

	-webkit-transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-ms-transition: all 0.3s ease-in-out;

	-o-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;

}





.info-top-right a.appoinment:hover {

	background-color: #2e363a;

}



/* Button

---------------------------------------- */

.themesflat-button {

    position: relative;

    display: inline-block;

    padding: 11px 18px 9px 17px;

    font-family: "Poppins", sans-serif;

    font-size: 14px;

    line-height: 24px;

    font-weight: 600;

    background-color: #18ba60;

    color: #fff ;

    -webkit-transition: all 0.3s;

    -moz-transition: all 0.3s;

    -ms-transition: all 0.3s;

    -o-transition: all 0.3s;

    transition: all 0.3s;

    z-index: 1;

}



.simple_button.custom_1 a {

    padding: 16px 29px 15px 41px;

    letter-spacing: 1px;

}



.themesflat-button:not(.no-background):before {

    content: "";

    position: absolute;

    z-index: -1;

    top: 0;

    left: -3px;

    right: -3px;

    bottom: 0;

    background: #222;

    -webkit-transform: scaleX(0);

    transform: scaleX(0);

    -webkit-transform-origin: 0 50%;

    transform-origin: 0 50%;

    -webkit-transition-property: transform;

    transition-property: transform;

    -webkit-transition-duration: 0.5s;

    transition-duration: 0.5s;

    -webkit-transition-timing-function: ease-out;

    transition-timing-function: ease-out;

    border-radius: inherit;

}



.themesflat-button:not(.no-background):hover:before {

    -webkit-transform: scaleX(1);

    transform: scaleX(1);

    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);

    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66)

}



.themesflat-button i {

    padding-left: 3px;

    font-size: 11px;

    -webkit-transition: all 0.3s;

    -moz-transition: all 0.3s;

    -ms-transition: all 0.3s;

    -o-transition: all 0.3s;

    transition: all 0.3s;

}



.bold .themesflat-button { 

    font-weight: bold;

}



.themesflat-button.themesflat-archive {

    margin-top: 6px;

}



.themesflat-button:hover {

    color: #fff;

}



.themesflat_button_container.big .themesflat-button {

    font-size: 14px;

    font-weight: 600;

    letter-spacing: 1.5px;

    padding: 13px 49px 13px 59px;

}



.themesflat-button.no-background,.themesflat-button.blog-list-small {

    background: transparent;

    padding: 0;

    margin-top: 0px;

    color: #18ba60;

}



.themesflat-button i {

    display: inline-block;

}



.themesflat-button.no-background i,.themesflat-button.blog-list-small i {

    font-size: 11px;

}



.themesflat-button.no-background:hover i,.themesflat-button.blog-list-small:hover i {

    padding-left: 20px;



}



.themesflat-button.color-theme {

    background-color: #18ba60;

}



.themesflat-button.color-theme:hover {

    background-color: #18ba60;

    color: #fff ;

}



.themesflat-button.border {

    background-color: #18ba60;

    border: 2px solid #18ba60;

    -webkit-border-radius: 0;

    -moz-border-radius: 0;

    border-radius: 0;

}



.themesflat-button.border:hover {

    background-color: #18ba60;

}



.themesflat-brochures {

    border-radius: 3px;

    font-weight:700;

    min-width:230px;

    padding-left:26px;

    padding-right: 25px;

    background:#3a526a;

    margin-bottom: 6px;

}



.themesflat-brochures i {

    float: right;

}



/* themesflat-socials

-------------------------------------------------------------- */

.themesflat-socials {

	padding: 0;

	margin: 0;

}



.themesflat-socials li {

	display: inline-block;	

}



.themesflat-socials li a {	

	color: #fff;

	display: block;

	width: 27px;

	height: 30px;

	line-height: 30px;

	font-size: 13px;

	text-align: center;   

	-webkit-transition: all 0.6s ease 0s;

	transition: all 0.6s ease 0s;

}





/* Header

-------------------------------------------------------------- */

.header {

	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.07); 

	margin-bottom: 35px;

	z-index: 1;

}



.page-template-front-page .header {

	margin-bottom: 0;

}



.header #logo {		

	float: left;

	height: 100%;

}



.header .logo object {

	pointer-events: none;

}



.header .logo > a {	

	display: flex;

}



.show-search {

	float: right;

	margin-left: 32px;

}



.show-search.active .fa-search::before {

    content: "\f00d";

}



.show-search a {

	position: relative;    

	width: 35px;

	height: 35px;

	background: #bfbfbf;

	display: block;

	border-radius: 50%;

	text-align: center;

	line-height: 35px;

	margin: 27px 0 18px;

}



.show-search a i {

	font-size: 14px;

	color: #fff;

	-webkit-transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-ms-transition: all 0.3s ease-in-out;

	-o-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;

}



.show-search a i:hover {

	color: #18ba60;

}



.top-search {

	position: absolute;

	width: 250px;

	right: 15px;

	top: 100px;

	opacity: 0;

	filter: alpha(opacity=0);

	visibility: hidden;

	z-index: -99;

	-webkit-transition: all 0.3s ease 0s;

	-moz-transition: all 0.3s ease 0s;

	-ms-transition: all 0.3s ease 0s;

	-o-transition: all 0.3s ease 0s;

	transition: all 0.3s ease 0s;

}



.top-search.show {

	top: 100%;

	opacity: 1;

	filter: alpha(opacity= 100);

	visibility: visible;

	z-index: 9999;

}



.search-form label, .top-search .search-form .search-field {

	width: 100%;

	background-color: #fff;

}



/* Header fix */

.header.header-sticky {	

	width: 100%;

	z-index: 9999; 

	position: fixed;

	top: 0;

	left: 0;

	right: 0;

	webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

	background-color: #fff;

	  -webkit-animation-name: fadeInDown; /* Safari 4.0 - 8.0 */

    -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */

    animation-name: fadeInDown;

    animation-duration: 0.8s;

	 

}



.header-sticky .sticky_hide {

	display: none;

}



/* Home Boxed */

.boxed .header.header-sticky {

	max-width: 1300px;

	margin: 0 auto;

}



/* Header Style 2 */

.header-style2 .nav-wrap {

	float: left;

}



.nav.header-style2 {
	background: #3a526a;
	z-index: 99;
}

.header.widget-header .nav {
	background: #3a526a;
}
 
.nav.header-style2 .themesflat-socials {

	margin-top: 18px;

	float: right;

	margin-right: -6px;

}



.nav.header-style2 .show-search {

	margin-left: 15px;

}



.nav.header-style2 .show-search a {

	margin: 15px 0;

}



.header.widget-header .wrap-widget-header .widget.widget_text .text span {

	font-size: 12px;

	font-weight: 300;

	color: #535353;

}



.header-style2 #mainnav > ul > li > a {

	line-height: 65px;

	color: #fff;

}



.header-style2 #mainnav > ul > li {

	margin-left: 47.5px;

}



.header-style2 #mainnav > ul > li:first-child {

	margin-left: 0;

}



.nav.header-style2 .themesflat-socials li {

    margin-left: 10.5px;

}



.nav.header-style2 .themesflat-socials li a {

	font-size: 16px;

}



/* header style 3*/

.header.header-style3 .header-wrap {

	display: flex;

	display: -webkit-flex;

	align-items: center;

	justify-content: space-between;

	-webkit-justify-content: space-between;

	-webkit-flex-wrap:wrap;

	flex-wrap: wrap;

}



.header.header-style3 .nav-wrap,

.header.header-style3 .wrap-header-content {

	float: none;

}







.header.header-style3 .wrap-header-content {

	padding:0;

}



.header-style3 .wrap-header-content > * {

	margin-bottom: 0;

}



.header-style3 #mainnav > ul > li {

	margin-left: 37px;

}



.header-style3 #mainnav > ul > li:first-child {

	margin-left: 46px;

}



.header-style3 #mainnav > ul > li > a {

	line-height: 90px;

}



/* header style 4*/

.nav.header-style4 {

	padding: 0 40px;

	position: relative;

	bottom: -29px;

}



.header-style4 .wrap-header-content {

	padding-top: 31px;

}



.header-style4 .wrap-header-content > * {

	margin-bottom: 0;

}



.header-style4 #mainnav > ul > li {

	margin-left: 41.5px;

}



.header-style4 #mainnav > ul > li > a {

	line-height: 70px;

}



.nav.header-style4 .themesflat-socials {

	margin-top: 20px;

}



.header-style4 #mainnav-mobi {

	top: calc(100% + 29px);

	width: auto;

	left: 15px;

	right: 15px;

}



.header-style4.header-sticky #mainnav-mobi {

	top: 100%;

}



.header-style4.header-sticky {

	background: #3a526a;

	box-shadow: none;

}



.header-sticky .nav.header-style4 {

	bottom: 0;

}



.header-sticky:not(.header-style2):not(.header-style4):not(.header-style5) #mainnav > ul > li > a {

	line-height: 75px;

}



.header-sticky .logo {

	margin:0;

	padding: 0;

}



.header-sticky .logo svg,

.header-sticky .logo img {

    max-height: 100%;

    position: absolute;

    top: 50%;

    transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    -moz-transform: translateY(-50%);

    -webkit-transform: translateY(-50%);

}



.header-style5 #mainnav > ul > li > a {

	line-height: 60px;

}



.nav.header-style5 .show-search a {

    margin: 12.5px 0;

}



.header-style5 #mainnav > ul > li {

    margin-left: 41.5px;

}



.nav-widget {

	float: right;

}



.nav-widget a.appoinment {

	height: 60px;

	line-height: 60px;

    padding: 0 32px;

}



/* navigation */

.nav-wrap {

	float: right;	

}



#mainnav .btn-submenu {

	display: none;

}



#mainnav ul {

	list-style: none;

	margin: 0;

	padding: 0;

}



#mainnav ul li {

	position: relative;

}



#mainnav > ul > li {

	display: inline-block; 

	margin-left: 41.5px;  

}



#mainnav > ul > li > a {

	line-height: 100px;

	display: inline-block;

	font-family: "Poppins", sans-serif;

	font-size: 14px;

	font-weight: 600;

	color: #424242;

	text-transform: uppercase;

}



#mainnav > ul > li.current-menu-item > a {

	color: #18ba60;

}



#mainnav > ul > li > a i {

	font-size: 14px;

	margin-left: 5px;

}



/* submenu */

#mainnav ul.sub-menu {

	text-align: left;

	position: absolute;

	left: 0;

	top: 150%;

	width: 250px;

	background-color: #1d2738;

	z-index: 9999;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

	filter: alpha(opacity=0);

	opacity: 0;

	visibility: hidden;

	-webkit-transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-ms-transition: all 0.3s ease-in-out;

	-o-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;

}



/* Right sub-menu */

#mainnav ul.right-sub-menu {

	left: auto;

	right: 0;

}



#mainnav ul li:hover > ul.sub-menu {

	top: 100%;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

	filter: alpha(opacity=100);

	opacity: 1;

	visibility: visible;

}



#mainnav ul li ul li {

	margin-left: 0;

}



#mainnav ul.sub-menu li ul {

	position: absolute;

	left: 250px;

	top: 0 !important;

}



#mainnav > ul > li:nth-last-of-type(1)  ul.sub-menu li ul,

#mainnav > ul > li:nth-last-of-type(2)  ul.sub-menu li ul,

#mainnav > ul > li:nth-last-of-type(3)  ul.sub-menu li ul {

	left: auto;

	right: 250px;

}



#mainnav ul.sub-menu > li {

	border-top: 1px solid #2d374a;

}



#mainnav ul.sub-menu > li:first-child {

	border-top: 0;

}



#mainnav ul.sub-menu > li > a {

	display: block;

	color: #979797;    

	text-decoration: none;

	padding: 0 0 0 15px;

	font-family: "Poppins",sans-serif;

	font-weight: 300;

	line-height: 40px;

	-webkit-transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-ms-transition: all 0.3s ease-in-out;

	-o-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;

}



#mainnav ul.sub-menu > li > a:hover {

	background: #2e363a;

	color: #fff;

}



#mainnav ul.sub-menu > li.sub-parent:hover::after {

	right: 18px;

}



#mainnav > ul > li > a:hover,

#mainnav > ul > li.home > a {

	color: #18ba60 ;

	position: relative;

}



#mainnav > ul > li.home > a:before {

	opacity: 1;

	content: "";

	position: absolute;

	left: 20px;

	bottom: -15px;

	width: 15px;

	height: 5px;

	background-color: #18ba60;

}



#mainnav > ul > li.home > a:after {

	opacity: 1;

	position: absolute;

	left: 36px;

	bottom: -15px;

	width: 15px;

	height: 5px;

	background-color: #000;

	content: "";

}



/* Mobile navigation

---------------------------------------- */

#mainnav-mobi {

	display: block;

	margin: 0 auto;

	width: 100%;

	background-color: #1d2738;

	z-index: 1000;

	position: absolute;

}



#mainnav-mobi ul {

	display: block;

	list-style: none;

	margin: 0;

	padding: 0;

    overflow: visible;

    max-height: 310px;

    overflow-y: auto;

}



#mainnav-mobi ul li {

	margin:0;

	position: relative;

	text-align: left;

	border-top: 1px solid #2d374a;

	cursor: pointer;

}



#mainnav-mobi ul > li > a {

	text-decoration: none;

	height: 50px;

	line-height: 50px;

	padding: 0 15px;

	color: #fff;

}



#mainnav-mobi ul.sub-menu {

	top: 100%;

	left: 0;

	z-index: 2000;

	position: relative;

	background-color: #1d2738;

}



#mainnav-mobi > ul > li > ul > li,

#mainnav-mobi > ul > li > ul > li > ul > li {

	border-top: 1px solid #2d374a;

	background-color: #1d2738;

}



#mainnav-mobi > ul > li > ul > li > ul > li a {

	padding-left: 70px !important;

}



#mainnav-mobi ul.sub-menu > li > a {

	display: block;

	text-decoration: none;

	padding: 0 30px;

	border-top-color: rgba(255,255,255,.1);

	-webkit-transition: all 0.2s ease-out;

	-moz-transition: all 0.2s ease-out;

	-o-transition: all 0.2s ease-out;

	transition: all 0.2s ease-out;

}



#mainnav-mobi > ul > li > ul > li:first-child a {

	border-top: none;

}



#mainnav-mobi ul.sub-menu > li > a:hover,

#mainnav-mobi > ul > li > ul > li.active > a {

	color: #fff;

}



.btn-menu {

	display: none;

	float: right;

	position: relative;

	background: transparent;

	cursor: pointer;

	margin: 38px 0px 38px 20px;

	width: 26px;

	height: 16px;

	-webkit-transition: all ease .238s;

	-moz-transition: all ease .238s;

	transition: all ease .238s;

}



.btn-menu:before,

.btn-menu:after, 

.btn-menu span {

	background-color: #18ba60;

	-webkit-transition: all ease .238s;

	-moz-transition: all ease .238s;

	transition: all ease .238s;

}



.btn-menu:before,

.btn-menu:after {

	content: "";

	position: absolute;

	top: 0;

	height: 2px;

	width: 100%;

	left: 0;

	top: 50%;

	-webkit-transform-origin: 50% 50%;

	-ms-transform-origin: 50% 50%;

	transform-origin: 50% 50%;

}



.btn-menu span {

	position: absolute;

	width: 100%;

	height: 2px;

	left: 0;

	top: 50%;

	overflow: hidden;

	text-indent: 200%;

}



.btn-menu:before {

	-webkit-transform: translate3d(0, -7px, 0);

	transform: translate3d(0, -7px, 0);

}



.btn-menu:after {

	-webkit-transform: translate3d(0, 7px, 0);

	transform: translate3d(0, 7px, 0);

}



.btn-menu.active span {

	opacity: 0;

}



.btn-menu.active:before {

	-webkit-transform: rotate3d(0, 0, 1, 45deg);

	transform: rotate3d(0, 0, 1, 45deg);

}



.btn-menu.active:after {

	-webkit-transform: rotate3d(0, 0, 1, -45deg);

	transform: rotate3d(0, 0, 1, -45deg);

}



.btn-submenu {

	position: absolute;

	right: 20px;

	top: 0;

	font: 20px/50px 'FontAwesome';

	text-align: center;

	cursor: pointer;

	width: 70px;

	height: 44px;

}



.btn-submenu:before {

	content: "\f107";

	color: #fff;

}



.btn-submenu.active:before {

	content: "\f106";

}



.btn-menu {

	display: none; 

}



/* Blog Grid Some Css Global 

-------------------------------------------------------------- */

.page-wrap {

	padding: 25px 0;

	background-color: #fff;

	overflow: hidden;

}



.post-type-archive-gallery .page-wrap {

	padding: 120px 0 98px;

}



.single .page-wrap {

    padding-bottom: 95px;

}



.page-template-front-page .page-wrap,

.page-template-page_fullwidth .page-wrap,

.page-template-one-page .page-wrap {

	padding: 0;

}



.page-template-front-page .page-wrap .content-area,

.page-template-page_fullwidth .page-wrap .content-area,

.error404 .page-wrap .content-area,

.page-template-portfolio .page-wrap .content-area,

.page-template-one-page .page-wrap .content-area {

	width: 100%;

	margin: 0;

}



.page-template-front-page .page-wrap .content-area:after {

	background-color: transparent;

	width: 0;

	height: 0;

}



.page-template-front-page .page-wrap .content-area {

	padding-right: 0;

}



.page-wrap.sidebar-left .content-area, .page-wrap.sidebar-right .content-area {

	float: left;

	width: calc(74.35897435897436% + 30px);

	padding-right: 30px;

	position: relative;

}



.page-wrap.sidebar-left .widget-area, .page-wrap.sidebar-right .widget-area {

	float: left;

	width: calc(25.64102564102564% - 30px);

	z-index: 2;

	position: relative;

}



/* Services sidebar */

.page-wrap.sidebar-left .single-page .content-area, 

.page-wrap.sidebar-right .single-page .content-area {	

	width: 76.92307692307692%;

	padding-right: 2.564102564102564%;	

}



.page-wrap.sidebar-left .single-page .widget-area, 

.page-wrap.sidebar-right .single-page .widget-area {	

	width: 23.07692307692308%;	

}



a.menu-fallback {	

	line-height: 92px;

	color: #222;

}



a.menu-fallback:hover {

	color: #18ba60;

}



.blog-list .themesflat-button-container {

    padding-top: 21px;

}



/* Blog Sidebar Left */

.page-wrap.sidebar-left .content-area {

	float: right;

	padding-left: 30px;

	padding-right: 0;

}



.page-wrap.sidebar-left .content-area:after {

	left: 0;

}



.page-wrap.sidebar-left .pagination {

	text-align: center;

	margin-right: 0;

}



/* Blog Full Width */

.page-wrap.fullwidth .content-area {

	width: 100%;

	margin: 0;

	float: none;

}



.page-template-page_fullwidth .page-title {

	padding-top: 19px;

}



.page-wrap.fullwidth .post-wrap {

	padding: 0;

}



.page-wrap.fullwidth .content-area:after {

	width: 0;

}



.page-wrap.fullwidth .widget-area {

	display: none;

}



/* Template blog */

.page-wrap .content-area.blog-page {

	width: 100%;

	margin-right: 0;

}



article .page-links {

	margin-top: 15px;

}



.blog-grid article {

	padding: 0 15px 30px;

	float: left;

	margin-bottom: 35px;

}



.blog-grid  article:last-of-type {

	margin-bottom: 35px;

}



.blog-grid .featured-post {

	margin-bottom: 26px;

}



.blog-grid .entry-title {

	font-size: 15px;

	line-height: 24px;

	text-transform: none;

	letter-spacing: 0.18px;

}



.blog-grid .entry-meta {

	margin-bottom: -4px;

}



.blog-single.post_format-post-format-video .featured-post {

	padding-bottom: 61.7%;

	padding-top: 0;

	position: relative;

	width: 100%;

}



.blog-single.post_format-post-format-video .featured-post iframe {

	position: absolute;

	top: 0;

	left: 0;

	width: 100%;

	height: 100%;

}



.blog-list .post_format-post-format-video .featured-post,

.blog-list .format-video .featured-post {

	padding-bottom: 40.3%;

	padding-top: 0;

	position: relative;

	width: 100%;

}



.blog-list .format-video .featured-post iframe {

	position: absolute;

	top: 0;

	left: 0;

	width: 100%;

	height: 100%;

}



.blog-grid .post_format-post-format-video .featured-post,

.blog-grid .format-video .featured-post {

	padding-bottom: 68.25%;

	padding-top: 0;

	position: relative;

	width: 100%;

}



.blog-grid.blog-two-columns .post_format-post-format-video .featured-post {

	padding-bottom: 57.25%;

}



.blog-grid.blog-four-columns .post_format-post-format-video .featured-post {

	padding-bottom: 59.25%;

}



.blog-grid .format-video .featured-post iframe,

.blog-grid .post_format-post-format-video .featured-post iframe {

	width: 100%;

	height: 100%;

	position: absolute;

}



.blog-grid {

	overflow: hidden;

	margin: 0 -15px;

	border-bottom: none;

	position: relative;

}



.blog-grid article:after {

	content: none;

}



.blog-grid, .blog-grid .entry-border, .blog-grid .content-post {

	display: -webkit-flex;

	display: flex;

	-webkit-flex-wrap: wrap;

	flex-wrap: wrap;

}



.blog-grid .entry-border {

	-webkit-align-content: space-between;

	align-content: space-between;

	height: 100%;

}



.owl-item article:after {

	content: none!important;

}



/* Page Title

-------------------------------------------------------------- */

.page-title {

	position: relative;

	padding: 0 0 0;

	border: 0px #ddd solid;

}

.page-title .breadcrumb-trail.breadcrumbs {
	margin-bottom: 46px;
}



.page-title .overlay {

    position: absolute;

    top: 0;

    left: 0;

    height: 100%;

    width: 100%;

}



.parallax {

	background-attachment: fixed;

	background-position: 50% 0;

}



.breadcrumbs span {

	color: #999999;

	font-size: 13px;

}



.breadcrumbs span.sep {

	padding: 0 2px;

}



.breadcrumbs span a,

.breadcrumbs a {

	color: #999999;

}



.breadcrumbs span a:hover,

.breadcrumbs a:hover {

	color: #18ba60;

}



.themesflat-top .content-left {

	float: left;

}



.themesflat-top .content-right {

	float: right;



}



.header-style5.themesflat-top .content-right {

	margin-top: 11px;

    margin-bottom: 9px;

}



.themesflat-top .border-left,

.themesflat-widget-languages,

.themesflat-top .border-right {

	position: relative;

}



.themesflat-top .border-left:before,

.themesflat-widget-languages:before,

.themesflat-top .border-right:after {

	content: '';

	right: 0;

	position: absolute;

	top:50%;

	margin-top: -7px;

	width: 1px;

	height: 14px;

	background-color: #d1d1d1;

}



.themesflat-top .border-left:before {

	right: auto;

	left: 0;

}



/* Blog

-------------------------------------------------------------- */

.entry-meta ul {

	list-style: none;

	margin: 0;

	color: #999;

	font-size: 12px;

	text-transform: uppercase;

	float: left;

	margin-top: -2px;

	max-width: 85%;

}



.entry-meta {

	width: 100%;

}



.entry-meta ul.meta-right {

	float: right;

	color: #222;

}



.entry-meta ul li {

	float: left;

	margin-right: 20px;

	position: relative;

	display: table;

}



.blog-grid .entry-meta ul li:not(.post-date) {

	display: none;

}



.entry-meta ul li a:not(:hover) {

	color: inherit;

}



.entry-meta ul li:last-of-type {

	margin-right: 0;

}



.entry-meta ul li i {

	padding-right: 5px;

}



.entry-meta ul li:not(:last-of-type):after {

	content:'...';

	position: absolute;

	right: -15px;

	top: 0;

}



.blog-grid .entry-meta ul li:after {

	content: none;

}



article {

	padding-bottom: 62px;

	margin-bottom: 61px;

	position: relative;

}



article:after {

	content: '';

	left: 0;

	bottom: 0;

	width: 100%;

	height: 1px;

	background: #dfdfdf;

	position: absolute;

}



article:last-of-type {

	margin-bottom: 30px;

}



article .featured-post {

	margin-bottom: 19px;

	position: relative;

}



article .video .featured-post iframe,

article .post_format-post-format-video .featured-post iframe {

	width: 100%;

	height: 100%;

	position: absolute;

	top: 0;

	left: 0;

}



article .featured-post a {

	display: inline-block;

	position: relative;

	background: #000000;

}



article .featured-post a img {

	webkit-transition: all 0.2s ease-in-out 0s;

	-moz-transition: all 0.2s ease-in-out 0s;

	-ms-transition: all 0.2s ease-in-out 0s;

	-o-transition: all 0.2s ease-in-out 0s;

	transition: all 0.2s ease-in-out 0s;

}



article .featured-post a:hover img {



	-webkit-opacity: 0.4;

	-khtml-opacity: 0.4;

	-moz-opacity: 0.4;

	opacity: 0.4;

	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);

	filter: alpha(opacity=40);

}



article .entry-title {

	text-transform: uppercase;

	margin-top: 9px;

	margin-bottom: 20px;

}



article .content-post {

    letter-spacing: 0.03px;

}



.blog-list-small article {

	padding-bottom: 42px;

	margin-bottom: 61px;

	display: table;

}



.blog-list-small article:last-of-type {

	margin-bottom: 30px;

}



.blog-list-small .content-post {

	overflow: hidden;

	letter-spacing: 0.015px;

}



.blog-list-small .featured-post {

	float: left;

	margin-right: 30px;

	width: 370px;

	position: relative;

}



.blog-list-small .post_format-post-format-video .featured-post:before,

.blog-list-small .format-video .featured-post:before {

	content: '';

	padding-bottom: 62.17%;

	position: relative;

	display: block;

}



.blog-list-small .format-video .featured-post iframe,

.blog-list-small .post_format-post-format-video .featured-post iframe {

	position: absolute;

	width: 100%;

	height: 100%;

	top: 0;

	left: 0;

}



.content-area.blog-list-small .entry-content {

	overflow: hidden;

	letter-spacing: -0.06px;

}



/* Blog Single

-------------------------------------------------------------- */

article.blog-single {

	margin-bottom: 35px;

	padding-bottom: 24px;

}



.blog-single .entry-content {

	margin-bottom: 63px;

    letter-spacing: 0.06px;

}



.entry-footer strong {

	color: #222;

}



.entry-footer .tags-links {

	float: left;

}



.entry-footer .social-share-article {

	float: right;

}



.entry-footer .social-share-article ul {

	list-style: none;

	margin: 0;

	display: inline-block;

}



.entry-footer .social-share-article ul a {

	display: inline-block;

	width: 30px;

	height: 30px;

	border-radius: 50%;

	background: #3b5998;

	line-height: 30px;

	margin-left: 5px;

}



.entry-footer .social-share-article ul li.twitter a {

	background: #259fef;

}



.entry-footer .social-share-article ul li.instagram a {

	background: #dd4e42;

}



.entry-footer .social-share-article ul li.rss a {

	background: #007ab5;

}



.entry-footer .social-share-article ul a i {

	line-height: 30px;

}



.themesflat-socials li a:hover,

.entry-footer .social-share-article ul li a:hover {

	background: #18ba60;

	color: #fff;

}



/* nav-links*/

.nav-links {	

	margin: 0;

	list-style: none;

	padding: 20px 0 17px 0;

}



.nav-links .previous-post {

	width: 50%;

	float: left;

}



.nav-links .next-post {

	width: 50%;

	float: right;

}



.navigation.posts-navigation .nav-links li a .meta-nav {

	display: block;

	text-transform: uppercase;

	font-size: 14px;

	color: #18ba60;

}



.navigation.posts-navigation .nav-links li a {

	display: block;

	font-weight: bold;

	text-overflow: ellipsis;

	white-space: nowrap;

	overflow: hidden;

	position: relative;

	padding: 0 10px 0 60px;

}



.navigation.posts-navigation .nav-links li a:after {

	content: "\f053";

	font-family: "FontAwesome";

	font-size: 14px;

	font-weight: normal;

	width: 45px;

	height: 45px;

	text-align: center;

	line-height: 45px;

	background: #18ba60;

	position: absolute;

	left: 0;

	top: 50%;

	margin-top: -24px;

	color: #ffffff;

	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

	-webkit-transition: all 0.3s;

	-moz-transition: all 0.3s;

	-ms-transition: all 0.3s;

	-o-transition: all 0.3s;

	transition: all 0.3s;

}



.navigation.posts-navigation .nav-links li a:hover:after {

	background-color: #222;

}



.navigation.posts-navigation .nav-links li.next-post a {

	text-align: right;

	padding: 0 60px 0 10px;

}



.navigation.posts-navigation .nav-links li.next-post a:after {

	content: "\f054";

	right: 0;

	left: auto;

}



.navigation.posts-navigation {

	margin-bottom: 50px;

}





/* Comment List */

.comments-area {

	overflow: hidden;	

}



.comment-list-wrap {

	margin-bottom:37px;

}



.comment-list-wrap h2 {

	margin-bottom: 31px;

}



.comment-list-wrap .comment-list {

	list-style: none;

	margin: 0;

}



.comment-list .children {

	list-style: none;

}



.comment-list-wrap .comment_time {

	color: #999;

}



.comment-list-wrap .gravatar {

	border-radius: 50%;

	margin-right: 20px;

	float: left;

	margin-top: 7px;

}



.comment-list-wrap .gravatar img {

	border-radius: 50%;

}



.comment-list-wrap .comment_content {

	overflow: hidden;

}



.comment-list-wrap .comment_meta {

	margin-bottom: 7px;

}



.comment-list-wrap .comment_wrap {

	padding-bottom: 28px;

	margin-bottom: 26px;

}



.comment-list-wrap .comment_author {

	display: inline-block;

	margin: 0;

}



.comment-list-wrap li:last-child  .comment_wrap {

	border: none;

}



.comment-list-wrap .comment-reply-link {

	color: #18ba60;

	margin-left: 25px;

	position: relative;

}



.comment-list-wrap .comment-reply-link:before {

	content:'|';

	position: absolute;

	left: -15px;

	color: #999;

}



.comment-list-wrap .comment-reply-link:hover {

	color: #222;

}



.comment-respond {

	background: #eeeeee;

	padding: 50px;

    margin-bottom: 30px;

}



.comment-respond .comment-reply-title {

	font-size: 25px;

	margin-top: 7px;

}



.comment-respond input[type=submit] {

	text-transform: uppercase;

	margin-bottom: -12px;

}



.comment-respond input[type=text],

.comment-respond input[type=email],

.comment-respond input[type=url] {

	height: 43px;

}



p.comment-notes {

	margin-bottom: 27px;

}



.comment-respond p.comment-form-author,

.comment-respond p.comment-form-email,

.comment-respond p.comment-form-url {

	width: 32.333%;

	float: left;

	margin-bottom: -11px;

}



.comment-respond .comment-form-author,

.comment-respond .comment-form-email {

	margin-right: 1.5%;

}



textarea#comment {

	margin-bottom: 2px;

}

/* sidebar

-------------------------------------------------------------- */

.widget ul  {

	padding: 0;

	margin: 0;

	list-style: none;

}



.sidebar .widget ul li a {

	display: inline-block;

	position: relative;

	color: #656565;

}



.widget ul li a:hover {

	color: #18ba60;

}



.sidebar .widget {

	margin-bottom: 40px;

	overflow: hidden;

}



.widget .widget-title {

	text-transform: uppercase;

	position: relative;

	margin-bottom: 10px;

	margin-top: 17px;

	padding-right: 32px;

	display: inline-block;

}



.widget .widget_recent_entries .widget-title {

	margin-bottom: 10px;

}



.widget .widget_archive .widget-title {

	margin-bottom: 12px;

}



.widget .widget-title:after,.widget .widget-title:before {

	width: 23px;

	height: 1px;

	position: absolute;

	content: "";

	bottom: 4px;

	right: 0;

	background-color: #222;

}



.widget .widget-title:before {

	bottom: 7px;

	right: 11px;

	width: 12px;

}



/* Widget recent post */





.widget.widget_recent_entries .post-date {

	display: block;

	padding-left: 20px;

	margin-top: 5px;

	font-size: 14px;

	color: #b9c1cf;

	position: relative;

}



/* widget category */

.widget.widget_archive ul li,

.widget.widget-recent-news ul li,

.widget.widget_categories ul li,

.widget.widget_recent_entries  ul li {

	position: relative;

	display: block;

	padding:12px 0px 12px 16px;

	margin-bottom: 0;       

	-webkit-transition: all 0.3s;

	-moz-transition: all 0.3s;

	-ms-transition: all 0.3s;

	-o-transition: all 0.3s;

	transition: all 0.3s;

}



.widget.widget_archive > ul > li,

.widget.widget-recent-news > ul > li,

.widget.widget_categories > ul > li,

.widget.widget_recent_entries  > ul > li {

	border-bottom: 1px solid #e5e5e5;

}



.widget.widget-recent-news ul li:before,

.widget.widget_archive ul li:before,

.widget.widget_categories ul li:before,

.widget.widget_recent_entries ul li:before {    

	font-family: "FontAwesome";

	content: "\f0da";

	font-size: 12px;

	color: #656565;

	position: absolute;

	left: 0;

	top: 11px;    

}



.widget.widget_categories ul li a:hover {

	color: #18ba60;

}



.widget.widget_categories ul.children li:first-child > a:before {

	display: none;

}



/* widget tags */

.widget.widget_tag_cloud .tagcloud a {

	color: #ffffff;

	padding: 7px 20px;

	margin: 0 5px 5px 0;

	float: left;    

	position: relative;

	font-size: 14px !important;

	background-color: #18ba60;

	-webkit-border-radius: 4px;

	-moz-border-radius: 4px;

	border-radius: 4px;

	-webkit-transition: all 0.3s;

	-moz-transition: all 0.3s;

	-ms-transition: all 0.3s;

	-o-transition: all 0.3s;

	transition: all 0.3s;

}



.widget.widget_tag_cloud .tagcloud a:hover {

	background-color: #222;

}



/* widget search */

.widget_search .widget-title {

	margin-bottom: 37px;

}



.widget_search .search-form {

	width: 100%;

	height: 50px;

	position: relative;

	margin: 0;

}



.widget_search .search-form label {

	display: block;

}



.widget_search .search-form .search-submit {

	background-image: url(../images/search.svg);

	background-color: transparent;

	background-size: 13px 13px;

	background-position: center right;

	background-repeat: no-repeat;

	width: 24px;

	height: 21px;

	border-left: 1px solid rgba(0, 0, 0, 0.4);

	padding: 5px 0 5px 10px;

	text-indent: -9999px;

	padding: 0;

	position: absolute;

	right: 15px;

	top: 12px;

	-webkit-opacity: 0.3;

	-khtml-opacity: 0.3;

	-moz-opacity: 0.3;

	opacity: 0.3;

	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);

	filter: alpha(opacity=30);

}



.widget_search .search-form input[type="search"] {

	margin-bottom: 0;

	height: 48px;

	font-size: 14px;

	color: rgba(21, 65, 110, 0.65);

}



/* widget recent post */

.widget.widget-recent-news .thumb {

	display: inline-block;

	float: left;

	margin-right: 20px;

	position: relative;

}



.widget.widget-recent-news .thumb a {		

	position: relative;

	display: block;

	background: #000000;   

}



.widget.widget-recent-news .thumb a img {

	webkit-transition: all 0.2s ease-in-out 0s;

	-moz-transition: all 0.2s ease-in-out 0s;

	-ms-transition: all 0.2s ease-in-out 0s;

	-o-transition: all 0.2s ease-in-out 0s;

	transition: all 0.2s ease-in-out 0s;

}



.widget.widget-recent-news .thumb a:hover img {

	-webkit-opacity: 0.4;

	-khtml-opacity: 0.4;

	-moz-opacity: 0.4;

	opacity: 0.4; 

	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);

	filter: alpha(opacity=40);

}



.widget.widget-recent-news .thumb a:after, 

.widget.widget-recent-news .thumb a:before {

	content: "";

	position: absolute;

	width: 1px;

	height: 30px;

	background: #fff;

	top: 50%;

	left: 50%;

	z-index: 9999;   

	margin-top: -15px;

	margin-left: -1px;

	visibility: hidden;

	-webkit-opacity: 0;

	-khtml-opacity: 0;

	-moz-opacity: 0;

	opacity: 0;

	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);

	filter: alpha(opacity=0);

	webkit-transition: all 0.2s ease-in-out 0s;

	-moz-transition: all 0.2s ease-in-out 0s;

	-ms-transition: all 0.2s ease-in-out 0s;

	-o-transition: all 0.2s ease-in-out 0s;

	transition: all 0.2s ease-in-out 0s;

}



.widget.widget-recent-news .thumb a:before {

	height: 1px;

	width: 30px;

	margin-top: -1px;

	margin-left: -15px;

}



.widget.widget-recent-news .thumb:hover a:before,

.widget.widget-recent-news .thumb:hover a:after {

	visibility: visible;

	-webkit-opacity: 1;

	-khtml-opacity: 1;

	-moz-opacity: 1;

	opacity: 1; 

	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);

	filter: alpha(opacity=100);

}    



.widget.widget-recent-news .recent-news li .text h4 {

	font-size: 14px;

	font-weight: 400;

	margin-bottom: 8px;

}



.widget.widget-recent-news .no-thumbnail.recent-news li .text h4 {

	margin:5px 0;

}



.widget.widget-recent-news li .text p {

	margin-bottom: 0;

}



.widget.widget-recent-news li .text .date {

	display: block;

	position: relative;

	margin-top: 0;

	font-size: 12px;

	color: #555555;

	letter-spacing: -0.01px;

}



.widget.widget-recent-news li .text .date:before {

	content:"\f3b3";

	font-family: "Ionicons";

	font-size: 12px;

	margin-right: 7px;

	color: #fff;

}



.sidebar .widget.widget-brochures ul li {

    margin-bottom: 5px;

}



.widget-brochures ul li {

    position: relative;

    background-color: #3a526a;

    padding: 0 0 0 26px;

    border-radius: 3px;

    width: 230px;

}



.widget-brochures ul li:before {

    position: absolute;

    right: 25px;

    top: 11px;

    font-family: FontAwesome;

    content: "\f019";

    color: #fff;

    font-size: 14px;

}



.sidebar .widget-brochures ul li a {

    color: #fff;

    font-weight: 600;

    padding-top: 10px;

    padding-bottom: 10px;

    letter-spacing: 0.1px;

}



/* Pagination

-------------------------------------------------------------- */



.navigation.paging-navigation .pagination,

.navigation.paging-navigation.pager {

	margin: 0px ;

	margin-bottom: 100px;

	text-align: left;

}



.navigation.paging-navigation.pager .pagination {

	width: 100%;

}



.navigation.paging-navigation.pager a:last-child {

	float: right;

}



.navigation.paging-navigation a,

.navigation.paging-navigation span,

.page-links a, .page-links > span {

	width: 40px;

	height: 40px;

	display: inline-block;

	text-align: center;

	line-height: 40px;

	margin-right: 3px;

	border: 1px solid #dfdfdf;

	border-radius: 2px;

	color: #999;

}



.navigation.paging-navigation.pager a {

	display: inline-block;

	text-transform: uppercase;

	color: inherit;

}



.navigation.paging-navigation .next.page-numbers,

.navigation.paging-navigation .prev.page-numbers {

	width: 72px;

}



.navigation.paging-navigation .next.page-numbers i {

	padding-left: 5px;

}



.navigation.paging-navigation .prev.page-numbers i {

	padding-right: 5px;

}



.navigation.paging-navigation a:hover,

.navigation.paging-navigation .current,

.page-links a:hover, .page-links a:focus, 

.page-links > span {	

	border-color: #222;

	color: #222;

}



/* Navigation page */

.navigation.pager a,

.navigation.loadmore a {

	width: auto;

	height: auto;

	padding: 0 20px;

}



/* Navigation Loadmore */

.post-wrap {

	-webkit-transition: height 0.5s ease;

	-moz-transition: height 0.5s ease;

	-ms-transition: height 0.5s ease;

	-o-transition: height 0.5s ease;

	transition: height 0.5s ease;

}



.navigation.loadmore {

	text-align: center;

}



.navigation.loadmore a {

	position: relative;

	display: inline-block;

	color: #fff;

	font-size: 13px;

	padding: 0 44px;

	font-weight: 400;

	border: 2px solid transparent;

	text-transform: uppercase;

	letter-spacing: 1px;    

	line-height: 45px;

	background-color: #394348;

	-webkit-border-radius: 3px;

	-moz-border-radius: 3px;

	-o-border-radius: 3px;

	border-radius: 3px;

	-webkit-transition: all 0.3s ease 0s;

	-moz-transition: all 0.3s ease 0s;

	-ms-transition: all 0.3s ease 0s;

	-o-transition: all 0.3s ease 0s;

	transition: all 0.3s ease 0s;

}



.navigation.loadmore a:hover {

	background: #18ba60;

	border-color: #18ba60;

	color: #fff;

}



.navigation.loadmore a:hover:after {

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

	filter: alpha(opacity=100);

	opacity: 1;

	right: 33px;

	color: #fff;

}





.infscr-loading { 

	background: #000 url("../images/loading.gif") no-repeat scroll center 15px;

	bottom: 40px;

	color: #ccc;

	left: 50%;

	margin-left: -90px;

	opacity: 0.8;

	padding: 80px 0 10px;

	position: fixed;

	text-align: center;

	width: 180px;

	z-index: 100;

	-webkit-border-radius: 10px;

	-moz-border-radius: 10px;

	border-radius: 10px;

}



.infscr-loading.no-ajax {

	background: #000;

	padding: 10px;

}



/* Page-callout

-------------------------------------------------------------- */

.page-callout {

	padding: 49px 0 37px;

	background-color: #222;

	overflow: hidden;

}	



.page-callout .themesflat-contact-us h3 {

	font-size: 35px;

	font-weight: 600;

	color: #fff;

	margin-top: 0;

	margin-bottom: 5px;

}



.page-callout .themesflat-contact-us p {

	font-size: 16px;

	color: #fff;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

	filter: alpha(opacity=50);

	opacity: 0.5;

	margin-bottom: 20px;

}



.page-callout .widget .widget-title {

	color: #fff;

}



.page-callout .widget .widget-title:after {

	content: none;

}



.flex-box {

	display: flex;

	align-items: center;

}



/* Widget footer

-------------------------------------------------------------- */

.footer {

	border-color: #353535;

	border-style: solid;

	border-width: 0;

	position: relative;

	z-index: 1;

}



.footer-widgets {

	overflow: hidden;

	font-size: 14px;

	color: #888;

	letter-spacing: -0.5px;

}



.footer-widgets .widget-title {

	color: #fff;

	margin-bottom: 31px;

	letter-spacing: -0.5px;

    font-size: 17px;

    font-weight: 500;

}



.footer-widgets .widget .widget-title:after, .footer-widgets .widget .widget-title:before {

	background: #fff;

}



.footer-widgets .company-description {

	background:url(../images/map.png) no-repeat center/contain;

}



.footer-widgets .company-description p {

	padding-right: 20px;

	margin-bottom: 26px;

}



/* mail chimp*/

p.button-container {

	position: relative;

}

.mc4wp-form button {

	width: 45px;

	height: 45px;

	color: #fff;

	text-align: center;

	padding: 0;

	position: absolute;

	top: 0;

	right: -1px;

	border: none;

	border-radius: 0;

}



.top_bar2 .footer-widgets .widget.widget_nav_menu {

	padding-left: 0;

}



.top_bar2 .footer-widgets .widget.widget_nav_menu .widget-title {

	margin-bottom: 24px;

}



.top_bar2 .footer-widgets .widget.widget_nav_menu ul li {

	margin-bottom: 2px;

	width: 52%;

	padding-left: 11px;

}



.top_bar2 .footer-widgets .widget.widget_nav_menu ul li:nth-of-type(even) {

	width: 48%;

}



.top_bar2 .footer-widgets .widget.widget_nav_menu ul li a {

	letter-spacing: 0;

}



/* Widget footer default

-------------------------------------------------------------- */



.footer-widgets ul li a {

	color: #888;

	line-height: 36px;

	font-size: 14px;

	letter-spacing: -0.5px;

}



.footer-widgets ul li a:hover {

	color: #18ba60;

}



.footer-widgets .themesflat-shortcode-socials li {

	padding-left: 32px;

	position: relative;

}



.footer-widgets .themesflat-shortcode-socials i {

	position: absolute;

	top: 11px;

	left: 0;

}



.footer-widgets p.company-details {

	margin-top: 21px;

	margin-bottom: 11px;

	letter-spacing: 0.7px;

	font-weight: 500;

	color: #fff;

}



.footer-widgets .company-description i {

	padding-right: 4px;

}



.footer-widgets .widget {

	clear: both;

}



.themesflat_information li,

.footer-widgets .widget .themesflat_information li {

	position: relative;

	padding-left: 27px;

	margin-bottom: 14px;

	line-height: 24px;

}



.footer-widgets .widget .themesflat_information li i,

.themesflat_information li i {

	position: absolute;

	left: 0;

	top: 0px;

}



/* Widget Services */

.footer-widgets .widget.widget_nav_menu {

	padding-left: 50px;

	overflow: hidden;

}



.footer-widgets .widget.widget_nav_menu ul li {

	position: relative;

	padding-left: 14px;

	width: 100%;

	float: left;

}





.footer-widgets .widget.widget_nav_menu ul li:before {

	content: "\f363";

	position: absolute;

	left: 0;

	top: 5px;

	font-family: "Ionicons";

	font-size: 19px;

}	



.footer-widgets .widget.widget-recent-news  > ul > li {

	border-bottom: 0;

	padding: 0;

	margin-bottom: 24px;

}



.footer-widgets .widget.widget-recent-news  > ul > li:before {

	content: none;

}



.footer-widgets .widget.widget-recent-news .recent-news li .text h4 {

	margin-top: 0;

	margin-bottom: 8px;

}



.footer-widgets .widget ul li {

	margin-bottom: 0;

}



.top_bar2 .widget-title {

    letter-spacing: 0.4px;

}



.top_bar2 .widget-title:before,

.top_bar2 .widget-title:after {

	content: none;

}



.top_bar2 .widget_mc4wp_form_widget .widget-title {

	margin-bottom: 21px;

}



.top_bar2 .footer-widgets .mc4wp-form-fields p:not(:last-of-type) {

	margin-bottom: 20px;

	letter-spacing: 0.1px;

}



.footer-widgets .widget-recent-news .recent-news h4 {

	font-weight: 400;

	margin-bottom: 8px;

}



.footer-widgets .widget-recent-news a {

	line-height: 23px;

	letter-spacing: 0.08px;

}



/* Mail Chimp

-------------------------------------------------------------- */

.footer-widgets .mc4wp-form-fields {

	padding-top: 7px;

	letter-spacing: -0.5px;

}



.footer-widgets .mc4wp-form-fields p:not(:last-of-type) {

	margin-bottom: 28px;

}



.mc4wp-form label {

	margin-bottom: 10px;

	font-weight: 400;

}



.mc4wp-form input[type="email"] {

	background: #353535;

	position: relative;

	border: none;

	padding: 0;

	border: 1px solid transparent;

	height: 45px;

	max-width: 100%;

	padding: 10px 15px;

	margin-bottom: 0;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

	-webkit-border-radius: 0;

	-moz-border-radius: 0;

	-ms-border-radius: 0;

	-o-border-radius: 0;

	border-radius: 0;

	color: #656565;

}	



.widget_mc4wp_form_widget .footer2,

.top_bar2 .widget_mc4wp_form_widget .footer1 {

	display: none;

}



.top_bar2 .widget_mc4wp_form_widget .footer2 {

	display: block;

}



/* Footer

-------------------------------------------------------------- */

.footer {    

	overflow: hidden;

}



.footer_background {

	position: relative;

}



.footer_background:before {

	content: '';

	background-color: #222;

	top: 0;

	left: 0;

	position: absolute;

	width: 100%;

	height: 100%;

	z-index: 0;

}



.footer a,

.footer,

.themesflat-before-footer .custom-info > div,

.bottom p {

	color: #888;

}



.footer a:hover {

	color: #18ba60;

}



.bottom .copyright a {

	color: #18ba60;

}



.bottom .copyright a:hover {

	color: #fff;

}



.bottom .themesflat-socials {

	width: 100%;

	text-align: center;

	margin-bottom: 33px;

}



.bottom .themesflat-socials a {

	border-radius: 100%;

	border: 1px solid #454545;

	line-height: 41px;

	height: 43px;

	width: 43px;

}



.bottom .themesflat-socials li:not(:last-of-type) {

	margin-right: 12px;

}



.bottom-inline .bottom .themesflat-socials a {

	line-height: 38px;

	height: 40px;

	width: 40px;

}





.bottom-inline .bottom .copyright {

	float: left;

	width: auto;

}



.bottom-inline .bottom .themesflat-socials {

	float: right;

	width: auto;

}



.bottom-inline .bottom .themesflat-socials li:not(:last-of-type) {

	margin-right: 10px;

}







/* Bottom

-------------------------------------------------------------- */

.bottom {

	padding: 27px 0;

	background-color: #1b1b1b;

	font-size: 14px;

    z-index: 1;

    position: relative;

}



.bottom p {

	margin-bottom: 0;

	line-height: 36px;

}



.bottom .copyright {

	width: 100%;

	text-align: center;

	font-size: 13px;

}



/* Bottom menu

-------------------------------------------------------------- */

.widget-custom-menu {

	float: right;

}



#menu-bottom li {

	display: inline-block;

}



#menu-bottom li a {

	color: #e5e5e5;

	font-size: 14px;

	padding: 0 0 0 28px;

	-webkit-transition: all 0.6s ease 0s;

	transition: all 0.6s ease 0s;

}



#menu-bottom li a:hover {

	color: #18ba60;

}



/* Portfolio Single

-------------------------------------------------------------- */

.portfolio-single {

	padding-bottom: 40px;

}



.portfolio-single hr {

	margin-top: 41px;

	margin-bottom: 38px;

}



.portfolio-single .portfolio-detail.full_content hr {

	margin-top: 10px;

	margin-bottom: 49px;

}



.portfolio-single .content-portfolio-detail  ul {

	margin: 0;

	list-style: none;

}



.themesflat-list,

.themesflat-list-star {

	margin-left: 0;

	list-style: none;

	font-size: 15px;

	letter-spacing: 0.15px;

}



.portfolio-single .themesflat-list-small li {

	font-size: 13px;

}



.portfolio-single .content-portfolio-detail ul li,

.themesflat-list-list-small li,

.themesflat-list li {

	position: relative;

	padding-left: 35px;

}



.themesflat-list-star li,

.themesflat-list-small li,

.themesflat-list li {

	padding-left: 19px;

	margin-bottom: 5px;

	position: relative;

}



.portfolio-single .content-portfolio-detail ul span {

	font-weight: 400;

	display: block;

	line-height: 28px;

	margin-bottom: 32px;

}



.portfolio-single .content-portfolio-detail ul li:before,

.themesflat-list-star li:before,

.themesflat-list li:before {

	content: "\f111";

	position: absolute;

	left: 19px;

	top: 0px;

	color: #18ba60;

	font-family: "FontAwesome";

	font-size: 6px;

}



.themesflat-list-star li {

	font-size: 14px;

	padding-left: 25px;

    letter-spacing: 0.1px;

    margin-bottom: 10px;

}



.themesflat-list-star li:before {

	content: "\f006";

    left: 0;

    font-size: 11px;



}



.themesflat-list li:before {

	font-size: 7px;

	left: 0;

}



.portfolio-single .content-portfolio-detail {

	font-size: 15px;

	padding-left: 30px;

	line-height: 28px;

	letter-spacing: 0.19px;

}



.portfolio-single .single-portfolio-title {

	margin-top: 42px;

	margin-bottom: 30px;

}



.portfolio-single .full_content .single-portfolio-title {

	margin-bottom: 33px;

}



.portfolio-single .content-portfolio-detail h3 {

	color: #18ba60;

	margin-bottom: 15px;

}



.portfolio-single .content-portfolio-detail h3:first-child {

	margin-top: 0px;

	margin-bottom: 17px;

}



.portfolio-single .content-portfolio-detail .single-portfolio-title {

	margin-top: 0;

	margin-bottom: 21px;

}



ul.slides li {

	text-align: center;

}



.portfolio-single .portfolio-detail li {

	margin-bottom: 8px;

}



.single-portfolios .page-wrap {

	padding: 0px 0 70px;

}



.portfolio-single .content-portfolio-detail p {

	margin-bottom: 28px;

}



.portfolio-single .portfolio-detail.full_content  .content-portfolio-detail p {

	margin-bottom: 30px;

}



.portfolio-single ul.entry-portfolio-details {

	padding: 0;

	margin: 20px 0 0;

	list-style: none;

}



.portfolio-single ul.entry-portfolio-details > li {

	border-bottom: 1px solid #eaeaea;

	padding-bottom: 17px;

	font-size: 14px;

	margin-bottom: 18px;

}



.portfolio-single ul.entry-portfolio-details li span {

	color: #333;

	font-weight: 700;

}



.portfolio-single .social-share-article {

	padding: 0 0 16px;

	margin-top: -5px;

} 



.portfolio-single .social-share-article .social-share {

	float: left;

}



.portfolio-single .category-post-single {

	display: none;

}



.portfolio-single .social-share-article .social-share li {

	width: 35px;

	height: 35px;	

	text-align: center;

	line-height: 35px;

	display: inline-block;

}



.portfolio-single .social-share-article .social-share li a:hover {

	background: #18ba60;

	color: #fff;

}



.portfolio-single .social-share-article .social-share li a {

	color: #656565;

	display: inline-block;

	width: 100%;

	height: 100%;

	line-height: 30px;

	background-color: #f0f0f0;

	-webkit-border-radius: 50%;

	-moz-border-radius: 50%;

	border-radius: 50%;

	font-size: 14px;

}



.portfolio-single .social-share-article .social-share li a i {

	font-size: 14px;

	color: #656565;

	line-height: 35px;

}



.portfolio-single .social-share-article .social-share li:hover a i {

	color: #fff;

}



.portfolio-single .navigation.posts-navigation {

	margin-top: 40px;

	margin: 40px 15px 0px;

	background: #f1f2f8;

	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;

	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;

	-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;

	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;

	box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset

}



.portfolio-detail.full_content  .themesflat-portfolio-single-slider {

	margin-bottom: 42px;

}



.portfolio-single .portfolio-detail.full_content .content-portfolio-detail {

	padding-left: 0;

}



.portfolio-detail.full_content .magic50 {

	width: 50%;

	float: left;

	display: block;

	padding-left: 0;

	padding-right: 15px;

}



.portfolio-detail.full_content .magic50:nth-of-type(even) {

	padding-left: 15px;

	padding-right: 0;

}



.portfolio-detail.full_content li.magic50 {

	padding-left: 15px;

}



.portfolio-detail.full_content li.magic50:before {

	left:0;

}



.portfolio-detail.full_content li.magic50:nth-of-type(even) {

	padding-left: 30px;

}



.portfolio-detail.full_content li.magic50:nth-of-type(even):before {

	left: 15px;

}

/* Related portfolio */

.title_related_portfolio {

	font-family: "Poppins",sans-serif;

	font-size: 32px;

	line-height: 35px;

	font-weight: 600;

	color: #222;

	position: relative;

	padding-bottom: 10px;

	letter-spacing: 1px;

	overflow: hidden;

	margin: 0 0 40px 0;    

}



.title_related_portfolio:after {

	width: 40px;

	height: 3px;

	content: "";

	position: absolute;

	left: 0;

	border-radius: 4px;

	bottom: 0px;

	background-color: #18ba60;

}



/* Gallery Slider Single */

#themesflat-portfolio-flexslider {

	margin-bottom: 20px;

}



.themesflat-portfolio-single-slider li img {

	border-radius: 3px;

}



#themesflat-portfolio-carousel ul li {

	cursor: pointer;

	margin-right: 30px;

}



#themesflat-portfolio-flexslider ul.flex-direction-nav li a {

	width: 40px;

	height: 40px;

	line-height: 40px;

	text-align: center;

	background-color: #18ba60;

	position: absolute;

	top: 50%;

	margin-top: -20px;	

	z-index: 100;

}



#themesflat-portfolio-flexslider ul.flex-direction-nav li a:hover {

	background-color: #2e363a;

}



#themesflat-portfolio-flexslider ul.flex-direction-nav li a {

	color: #fff;

	display: none;

}



#themesflat-portfolio-flexslider ul.flex-direction-nav li.flex-nav-next a {

	right: 15px;

}



/* Nav Carosuel*/

#themesflat-portfolio-carousel {

	position: relative;

}



#themesflat-portfolio-carousel ul.flex-direction-nav li a,

.flex-direction-nav li a {

	width: 40px;

	height: 40px;

	line-height: 40px;

	text-align: center;

	background-color: #18ba60;

	position: absolute;

	z-index: 100;

	top: 50%;

	margin-top: -20px;

}



#themesflat-portfolio-carousel ul.flex-direction-nav li a:hover,

.flex-direction-nav li a:hover {

	background-color: #2e363a;

}



#themesflat-portfolio-carousel ul.flex-direction-nav li a,

ul.flex-direction-nav li a  {

	color: #fff;

}



#themesflat-portfolio-carousel ul.flex-direction-nav li.flex-nav-next a,

.flex-direction-nav  li.flex-nav-next a {

	right: 0;

}



/* Style portfolio navigation home */

.page-template-front-page .themesflat-portfolio.yes .owl-theme .owl-controls .owl-nav div.owl-prev {

	position: absolute;

	left: auto;

	right: 65px;

	top: -57px;

}



.page-template-front-page .themesflat-portfolio.yes .owl-theme .owl-controls .owl-nav div.owl-next {

	position: absolute;

	right: 15px;

	top: -57px;

}



.page-template-front-page .themesflat-portfolio.yes .owl-dots {

	display: none !important;

}



/* overwrite widget home news */

.page-template-front-page .widget.widget-recent-news .text h4 {

	margin-top: 0;

}



/* text-block-callback */

.text-block-callback {

	text-align: right;

	color: #fff;

}



.text-block-callback h2 {

	margin-top: 0;

	margin-bottom: 28px;

	color: #fff;

}



/* style for call back form */

.themesflat-one-half {

	width: 50%;

	float: left;

	padding: 0 10px;

}



.themesflat-wrap-field {

	margin: 0 -10px;

	margin-bottom: 30px;

}



.call-back-form {

	padding-left: 30px !important;

	padding-right: 75px !important;

}



.call-back-form label {

	color: #ccc;

	font-weight: 400;

	margin-bottom: 10px;

}



.call-back-form select {

	margin-bottom: 0;

	background: #d8e7ef;

	border: none;

	outline: none;

	-webkit-border-radius: 3px;

	-moz-border-radius: 3px;

	border-radius: 3px;

	background-image: url(../images/icon-arrow-select.png);

	background-position: 96% 49%;

	background-repeat: no-repeat;

	-webkit-appearance: none;

	-moz-appearance: none;

	appearance: none;

}



.call-back-form input[type="email"],

.call-back-form input[type="text"] {

	background: #d8e7ef;	

	-webkit-border-radius: 3px;

	-moz-border-radius: 3px;

	border-radius: 3px;

}



.call-back-form .themesflat-email input[type="email"] {

	margin-bottom: 0;

	margin-top: 34px;

}



.call-back-form .themesflat-button-form {	

	height: 50px;

	line-height: 50px;	

	position: relative;

	display: inline-block;    

	font-family: "Poppins", sans-serif;

	font-size: 14px;

	line-height: 24px;

	font-weight: 700;

	background-color: #18ba60;

	color: #fff;

	-webkit-border-radius: 3px;

	-moz-border-radius: 3px;

	border-radius: 3px;

	-webkit-transition: all 0.3s;

	-moz-transition: all 0.3s;

	-ms-transition: all 0.3s;

	-o-transition: all 0.3s;

	transition: all 0.3s;

}



.call-back-form .themesflat-button-form:hover {

	background-color: #2e363a;

}



/* Sidebar Menu

-------------------------------------------------------------- */

.sidebar .widget.widget_nav_menu ul li {

	display: block;

	padding: 0 0 0 25px;

	margin-bottom: 2px;

	color: #222222;

	font-weight: 700;

	font-family: "Poppins", sans-serif;

	background-color: #f1f1f1;

	-webkit-transition: all 0.3s;

	-moz-transition: all 0.3s;

	-ms-transition: all 0.3s;

	-o-transition: all 0.3s;

	transition: all 0.3s;

}



.sidebar .widget.widget_nav_menu ul li.active > a ,

.sidebar .widget.widget_nav_menu ul li.current-menu-item > a ,

.sidebar .widget.widget_nav_menu ul li a:hover  {

	color: #fff;

}



.sidebar .widget.widget_nav_menu ul li a {

	padding-top: 15px;

	padding-bottom: 15px;

	display: block;

	position: relative;

	z-index: 10;

}



.sidebar .widget.widget_nav_menu ul li a:before {

	background-color: #3a526a;

	opacity: 0;

	filter: alpha(opacity=0);

    content: '';

    top: 0;

    left: -150px;

    min-width: 400px;

    position: absolute;

    z-index: -1;

    height: 0;

	-webkit-transition: all 0.3s;

	-moz-transition: all 0.3s;

	-ms-transition: all 0.3s;

	-o-transition: all 0.3s;

	transition: all 0.3s;

	width: 150%;

}



.sidebar .widget.widget_nav_menu ul li.current-menu-item 

 a:before,

.sidebar .widget.widget_nav_menu ul li a:hover:before {

	background-color: #3a526a;

    height: 100%;

    	opacity: 100;

	filter: alpha(opacity=100);

}



.sidebar .widget.widget_nav_menu ul.sub-menu li {

	padding: 0 10px 0 10px;

}



/* Gallery Slide VC

-------------------------------------------------------------- */

.wpb_gallery_slides {

	position: relative;

}



.wpb_gallery_slides .flex-direction-nav li a {

	position: absolute;

	top: 50%;

	margin-top: -22.5px;

	left: 0;

}



.wpb_gallery_slides .flex-direction-nav li a.flex-next {

	right: 0;

	left: auto;

}



.wpb_gallery_slides .flex-direction-nav li a {

	font-size: 0 !important;

	position: relative;    

	font-weight: normal;

	width: 45px;

	height: 45px;

	text-align: center;

	line-height: 45px;

	background: #18ba60;

	position: absolute;

	left: 0;

	top: 50%;   

	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

	-webkit-transition: all 0.3s;

	-moz-transition: all 0.3s;

	-ms-transition: all 0.3s;

	-o-transition: all 0.3s;

	transition: all 0.3s;

}



.wpb_gallery_slides .flex-direction-nav li a:hover {

	background-color: #2e363a;

}



.wpb_gallery_slides .flex-direction-nav li a:before {

	content: "\f053";

	font-family: "FontAwesome";

	font-size: 15px;

	color: #ffffff;

	left: 17px;

	top: 16px;

	position: absolute;

}



.wpb_gallery_slides .flex-direction-nav li a.flex-next:before {

	content: "\f054";   

}



.wpb_gallery .wpb_flexslider .flex-control-nav.flex-control-paging {

	display: none;

}



/* themesflat-text-block-timeline

-------------------------------------------------------------- */

.themesflat-text-block-timeline {	

	margin-bottom: 45px !important;	

}



.themesflat-text-block-timeline .year {

	font-size: 23px;

	font-weight: 600;

	font-family: "Poppins", sans-serif;

	color: #18ba60;

	margin-bottom: 40px;

	position: relative;

}



.themesflat-text-block-timeline h3 {

	margin-bottom: 14px;

}



.themesflat-text-block-timeline .year:after {

	position: absolute;

	left: 0;

	bottom: -18px;

	width: 90px;

	height: 1px;

	background-color: #dfdfdf;

	content: "";

}



.themesflat-text-block-timeline .themesflat-timeline-content {

	padding-left: 90px;

}



/* themesflat-your-contact

-------------------------------------------------------------- */

.themesflat-your-contact {

	text-align: center;

	background: #f0f0f0;

}



.themesflat-your-contact .contact-thumb {

	margin-bottom: 20px;

	max-width: 341px;

}



.themesflat-your-contact .contact-name {

	font-size: 16px;

	font-weight: 700;

	font-family: "Poppins", sans-serif;

}



.themesflat-your-contact .contact-position {

	font-size: 12px;

	line-height: 18px;

	letter-spacing: 0.04em;

	color: #7f7f7f;

	margin-bottom: 18px;



}



.themesflat-your-contact .contact-email,

.themesflat-your-contact .contact-skype {

	font-size: 13px;    

	color: #4a4949;

}



.themesflat-your-contact .contact-skype {

	padding-bottom: 30px;

}	



/* Page contact 

-------------------------------------------------------------- */

.themesflat-contact-form input[type="submit"] {

	width: 100%;

	text-transform: uppercase;

	font-family: "Poppins", sans-serif;

	letter-spacing: 2px;

	font-size: 13px;

}



.themesflat-contact-form textarea {    

	height: 288px;

	padding: 15px 0 0 15px;

}



.themesflat-contact-form input[type="text"],

.themesflat-contact-form input[type="email"],

.themesflat-contact-form input[type="phone"],

.themesflat-contact-form textarea {

	background-color: #f7f7f7;

	font-size: 14px;

	color: #c1c1c1;

}



.themesflat-contact-form input:-moz-placeholder,

.themesflat-contact-form textarea:-moz-placeholder,

.themesflat-contact-form input::-moz-placeholder,

.themesflat-contact-form textarea::-moz-placeholder {

	color: #c1c1c1;

	opacity: 1;

}



.themesflat-contact-form input:-ms-input-placeholder,

.themesflat-contact-form textarea:-ms-input-placeholder {

	color: #c1c1c1;

}



.themesflat-contact-form input::-webkit-input-placeholder,

.themesflat-contact-form textarea::-webkit-input-placeholder {

	color: #c1c1c1;

	opacity: 1;

}



.themesflat-contact-form h5 {

	font-size: 17px;

	font-weight: 600;

	margin-bottom: 15px;

	color: #222;

}



/* Overwrite Accordion

-------------------------------------------------------------- */

.vc_tta.vc_general .vc_tta-panel {

	margin-bottom: 20px !important;

	font-size: 16px !important;

	border-radius: 5px !important;	

}



.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading {

	border: 1px solid #f1f1f1 !important;

	background-color: #f7f7f7 !important;

}



.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left.vc_tta-panel-title>a {	

	color: #fff;

}



.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading {

	background-color: #3a526a !important;

}



.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading:hover a,

.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading a,

.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a {

	color: #fff !important;	

}



.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a {    

	font-size: 16px;

	color: #fff;

}



.vc_tta.vc_tta-shape-rounded .vc_tta-panel-heading, .vc_tta.vc_tta-shape-rounded .vc_tta-tab>a {

	border-radius: 0 !important; 

}



.vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading:hover .vc_tta-controls-icon::after, 

.vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading:hover .vc_tta-controls-icon::before,

.vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::before {

	border-color: #fff !important;

}



.vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::after, .vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::before, .vc_tta-color-grey.vc_tta-style-classic .vc_tta-controls-icon::after, .vc_tta-color-grey.vc_tta-style-classic .vc_tta-controls-icon::before {

	border-color: #fff !important;

}



.vc_tta.vc_general .vc_tta-panel.vc_active, .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body {

	background-color: transparent !important;

	font-size: 14px !important;

	line-height: 24px !important;

}



/* .featured-post.blog-slider */

.featured-post.blog-slider {

	position: relative;

}



.featured-post.blog-slider .flex-prev,

.featured-post.blog-slider .flex-next {

	position: absolute;

	left: 0;

	top: 50%;

	margin-top: -22.5px;

	width: 45px;

	height: 45px;

	text-align: center;

	line-height: 45px;

	background-color: #18ba60;

}



.flex-disabled {

	opacity: 0.5!important;

	filter: alpha(opacity=50)!important;

	pointer-events: none;

}



.featured-post.blog-slider .flex-prev:hover,

.featured-post.blog-slider .flex-next:hover {

	background-color: #2e363a;

}



.featured-post.blog-slider .flex-prev i,

.featured-post.blog-slider .flex-next i {

	color: #fff;

	font-size: 16px;

	font-weight: 700;

}



.featured-post.blog-slider .flex-next {

	left: auto;

	right: 0;

}



/* Page 404

-------------------------------------------------------------- */

.error404 .page-wrap .content-area {

	width: 100%;

	padding-right: 0;

	text-align: center;

}



.error404 .error-404 .page-header .nothing {

	font-size: 200px;

	line-height: 200px;

	font-weight: 700;

	font-family: "Poppins", sans-serif;

}



.page-header .nothing {

	padding: 0;

	background-color: transparent;

	font-size: 40px;

	line-height: 40px;

	color: #18ba60;

}



.error404 .error-404 .sub-title-404 {

	font-family: "Poppins", sans-serif;

	font-size: 30px;

	color: #18ba60;

	margin-bottom: 30px;

}



/* themesflat List

-------------------------------------------------------------- */

ul.themesflat-list {

	list-style: none;

	margin: 0;

	padding: 0;

}



ul.themesflat-list li {

	position: relative;

	line-height: 30px;

}



/* GoTop Button

-------------------------------------------------------------- */

.go-top {

	position: fixed !important;

	right: -35px;

	bottom: 15px;   

	width: 40px;

	height: 40px;

	-webkit-border-radius: 2px;

	-moz-border-radius: 2px;

	-ms-border-radius: 2px;

	-o-border-radius: 2px;

	border-radius: 2px;

	cursor: pointer;   

	background-color: rgba(0, 0, 0, 0.4);

	line-height: 40px;

	text-align: center;   	

	-webkit-transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-ms-transition: all 0.3s ease-in-out;

	-o-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

	filter: alpha(opacity=0);

	opacity: 0;



}



.go-top.show {

	right: 15px;

	bottom: 15px;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

	filter: alpha(opacity=100);

	opacity: 1;

	visibility: visible;

	z-index: 9999;

}



.go-top i {

	font-size: 14px;

	color: #fff;

	font-weight: 600;

	padding-bottom: 3px;	

}



.go-top:hover {

	background-color: #18ba60;

}



.go-top:hover i {

	color: #fff;

}



/* boxed

-------------------------------------------------------------- */

.boxed .themesflat-boxed {

	max-width: 1300px;

	margin: 0 auto;

	margin-top: 30px;

	margin-bottom: 30px;

	background-color: #fff;

	box-shadow: 0 0 16px 1px #7f7f7f;

	overflow: hidden;

}



/* Template Portfolio

-------------------------------------------------------------- */

.page-template-portfolios .navigation.paging-navigation {

	margin-top: 0;

}



.page-template-portfolios .navigation.paging-navigation {	

	text-align: center;

}



.page-template-portfolios .navigation.paging-navigation a {

	margin-top: 52px;

	display: inline-block;

}



.page-template-portfolios .page-tile {

	padding-top: 23px;

}



/* Preloader

-------------------------------------------------------------- */

.preloader {

	width: 100%;

	height: 100%;

	background-color: #fff;

	position: fixed;

	top: 0;

	left: 0;

	z-index: 9999;

	-webkit-transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-ms-transition: all 0.3s ease-in-out;

	-o-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;

}



.clear-loading {

	text-align: center;

	margin: 0 auto;

	position: absolute;

	top: 50%;

	left: 50%;

	margin-top: -50px;

	margin-left: -50px;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	-ms-box-sizing: border-box;

	-o-box-sizing: border-box;

	box-sizing: border-box;

}



.loading-effect-2 {

	width: 100px;

	height: 100px;

}



.loading-effect-2 > span,

.loading-effect-2 > span:before,

.loading-effect-2 > span:after {

	content: "";

	display: block;

	border-radius: 50%;

	border: 2px solid #18ba60;

	position: absolute;

	top: 50%;

	left: 50%;

	-webkit-transform: translate(-50%, -50%);

	-moz-transform: translate(-50%, -50%);

	-ms-transform: translate(-50%, -50%);

	-o-transform: translate(-50%, -50%);

	transform: translate(-50%, -50%);

}



.loading-effect-2 > span {

	width: 100%;

	height: 100%;

	top: 0;

	left: 0;

	border-left-color: transparent!important;

	-webkit-animation: effect-2 2s infinite linear;

	-moz-animation: effect-2 2s infinite linear;

	-ms-animation: effect-2 2s infinite linear;

	-o-animation: effect-2 2s infinite linear;

	animation: effect-2 2s infinite linear;

}



.loading-effect-2 > span:before {

	width: 75%;

	height: 75%;

	border-right-color: transparent!important;

}



.loading-effect-2 > span:after {

	width: 50%;

	height: 50%;

	border-bottom-color: transparent!important;

}



@-webkit-keyframes effect-2 {

	from {

		-webkit-transform: rotate(0deg);

		-moz-transform: rotate(0deg);

		-ms-transform: rotate(0deg);

		-o-transform: rotate(0deg);

		transform: rotate(0deg);

		}	to {

			-webkit-transform: rotate(360deg);

			-moz-transform: rotate(360deg);

			-ms-transform: rotate(360deg);

			-o-transform: rotate(360deg);

			transform: rotate(360deg);

		}

	}



	@keyframes effect-2 {

		from {

			-webkit-transform: rotate(0deg);

			-moz-transform: rotate(0deg);

			-ms-transform: rotate(0deg);

			-o-transform: rotate(0deg);

			transform: rotate(0deg);

			}	to {

				-webkit-transform: rotate(360deg);

				-moz-transform: rotate(360deg);

				-ms-transform: rotate(360deg);

				-o-transform: rotate(360deg);

				transform: rotate(360deg);

			}

		}





/* Sidebar services page

-------------------------------------------------------------- */

.brochure .btn-download a {

	position: relative;

	width: 97%;

	margin-bottom: 0;

	padding: 12px 19px 9px;

	font-weight: 300;

	letter-spacing: 0.2px;

}



.brochure .btn-download a:after {

	background: url(../images/icon_pdf_white.png) no-repeat;

	content: "";

	width: 30px;

	height: 30px;

	position: absolute;

	top: 15px;

	right: 3px;

}



.brochure .btn-download.doc a:after {

	background: url(../images/icon_word.png) no-repeat;    

}



.brochure p {

	margin-bottom: 18px;

}



.brochure h3 {

	margin-top: 0;

	margin-bottom: 9px;

	font-size: 18px;

	font-weight: 600;

}



.brochure {   

	padding: 28px 18px 14px 24px;

	border: 1px solid #ccc;

	font-size: 13px;

}



.themesflat_iconbox.themesflat_custom_btn .themesflat-button {

    letter-spacing: 0;

}

/* testimonials-sidebar

-------------------------------------------------------------- */

.testimonials-sidebar {

	position: relative;

	padding: 28px 24px 24px 24px;

	border: 1px solid #ccc;

}



.testimonials-sidebar .owl-theme .owl-controls  {

	width: 50px;

	height: 50px;

	background: #e5e5e5;    

	float: right;

	line-height: 50px;

	border-radius: 50%;

	position: absolute;

	right: 6px;

	bottom: 6px;

}



.testimonials-sidebar .owl-theme .owl-dots .owl-dot span {

	width: 7px;

	height: 7px;

	border: 0;

	background-color: #fff;

	margin: 0 1.5px;

}



.testimonials-sidebar .owl-theme .owl-dots .owl-dot span:hover,

.testimonials-sidebar .owl-theme .owl-dots .owl-dot.active span {

	background-color: #18ba60;

}



.testimonials-sidebar h3 {

	margin-top: 0;

	margin-bottom: 8px;

	font-size: 18px;

	font-weight: 600;

	color: #333;

}



.testimonial03 .text {

	font-size: 13px;

}



.testimonial03 .media {

	position: relative;

	margin-top: 22px;

}



.testimonial03 .media img {

	position: absolute;

	left: 0;

	-webkit-border-radius: 50%;

	-moz-border-radius: 50%;

	border-radius: 50%;

	width: 50px;

	height: 50px;

}



.testimonial03 .media span {

	display: inline-block;

	min-height: 50px;

	padding-left: 65px;

	font-weight: 600;

	color: #3a526a;

}



.testimonial03 .media span em {

	font-size: 12px;

	font-style: italic;

	font-weight: 300;

	color: #3a526a;

	display: block;

	position: relative;

	top: -3px;

}



/*custom form contactform 7*/

.wpcf7-form .custom_form {

	background: #3a526a;

	max-width: 420px;

	color: #bac3cb;

    padding: 45px 45px 30px;

    letter-spacing: -0.47px;

    line-height: 24px;

    border-radius: 3px;



}



.wpcf7-form .custom_form input,

.wpcf7-form .custom_form select ,

.wpcf7-form .custom_form button {

    border-radius: 3px;

}



.contactform_style2 select {

    letter-spacing: -0.48px;

    color: #222;

}



.contactform_style2 input.wpcf7-form-control.wpcf7-text {

	font-size: 13px;

	padding-left: 18px;

	letter-spacing: 0.01px;

	color: #222;

}



.contactform_style2 button {

	height: 50px;

	line-height: 50px;

	padding:0 28px 0 30px;

	color: #fff;

	font-weight: 700;

}



.contactform_style2 button i {

	margin-left: 10px;

}



.contact2 .wpcf7-form .custom_form {

    padding: 45px 36px 29px;

}



.wpcf7-form .custom_form p {

	margin-bottom: 35px;

}



.wpcf7-form .custom_form input,

.wpcf7-form .custom_form select {

	background: #496076;

	color: #bac3cb;

	border: none;

	margin-bottom: 20px;

	padding-left: 20px;

    letter-spacing: -0.4px;

}



.wpcf7-form .custom_form select {

	padding-left: 15px;

}



.wpcf7-form .custom_form select,

.wpcf7-form .custom_form h2 {

	color: #fff;

}



.wpcf7-form .custom_form h2 {

    margin-top: 18px;

    letter-spacing: 0.4px;

    margin-bottom: 20px;

}



.wpcf7-form .custom_form input::-webkit-input-placeholder

{

	color: rgba(255,255,255,.35);

}



.wpcf7-form .custom_form input:-moz-placeholder {

	color: rgba(255,255,255,.35);

}



.wpcf7-form .custom_form input::-moz-placeholder {

	color: rgba(255,255,255,.35);

}



.wpcf7-form .custom_form input:-moz-placeholder {

	color: rgba(255,255,255,.35);

}



.wpcf7-form .custom_form button {

    color: #fff;

    font-size: 14px;

    font-weight: 600;

    margin-top: 0px;

    height: 50px;

    letter-spacing: 0.4px;

    padding: 0 29px;

}



.wpcf7-form .custom_form button i {

	font-size: 12px;

	margin-left: 8px;

}



.contactform_style4 {

	max-width:  930px;

	margin: 0 auto;

	box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.07); 

	-webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.07); 

	-ms-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.07); 

	-moz-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.07); 

	background: #fff;

	padding: 58px 79.5px 70px;

	border-radius: 16px;

	z-index: 100;

	position: relative;

}



.contactform3_container {

	padding-left: 20px!important;

}



.contactform_style4 input,

.contactform_style4 select,

.contactform_style4 textarea {

	border-radius: 10px;

	font-size: 12px;

	margin-bottom: 35px;

	padding-left: 20px;

	height: 55px;



}



.contactform_style4 textarea {

	height: 200px;

	padding-left: 24px;

	padding-top: 15px;

    margin-bottom: 27px;

}



.contactform_style4 input {

    padding-left: 24px;

}



.contactform_style4 button{

	border-radius: 30px;

	color: #fff;

	font-weight: bold;

    height: 55px;

    min-width: 200px;

    float: right;

}



.contactform_style4 button i {

	padding-left: 8px;

}





.home_custom_1 .title-section {

    margin-bottom: 32px;

    margin-top: -3px;

}



.home_custom_1 .blog-two-columns article {

    margin-bottom: -6px;

}



.home_custom_1  .blog-two-columns article:nth-of-type(odd) {

	padding-right: 25px;

}



.home_custom_1  .blog-two-columns article:nth-of-type(even) {

	padding-left: 25px;

}







/* Home 2

-------------------------------------------------------------- */

.testimonial_custom1 .title-section,

.testimonial_custom1 .title {

	margin-bottom: 0;

}



/* Home 3

-------------------------------------------------------------- */

.testimonial_custom2 {

	margin-left: 20px;

}

/* Service single

-------------------------------------------------------------- */

.themesflat_counter.custom_1 .counter-content-left .counter-surfix {

	font-size: 20px;

}



.themesflat_counter.custom_1 .counter-content-right {

	margin-top: -9px;

}



/* Page default

-------------------------------------------------------------- */

.page-template-default .sidebar .widget {

	margin-bottom: 27px;

}



.page-template-default .sidebar .widget-title {

    letter-spacing: -0.5px;

}



.widget-themesflat-testimonial {

	padding-top: 20px;

}



.page-template-default article {

	padding-bottom: 12px;

}



.page-template-default article:after {

	content: none;

}



/* History 

-------------------------------------------------------------- */

.vc_separator.history_title.vc_separator_align_left  h4 {

	padding-right: 30px;

	font-size: 23px;

	color: #18ba60;

    letter-spacing: -0.4px;

}



.vc_separator.history_title .vc_sep_holder .vc_sep_line {

	top: -3px;

}



/* Contact

-------------------------------------------------------------- */

.contact-content {

    text-align: center;

    border: 2px solid #e5e5e5;

    -webkit-transition: all 0.3s ease-in-out;

        -moz-transition: all 0.3s ease-in-out;

        -ms-transition: all 0.3s ease-in-out;

         -o-transition: all 0.3s ease-in-out;

            transition: all 0.3s ease-in-out;   

}



.contact-content:hover {

    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);

    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);

    -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);

    -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);

    -webkit-transform: translateY(-10px);

    -moz-transform: translateY(-10px);

    -ms-transform: translateY(-10px);

    -o-transform: translateY(-10px);

    transform: translateY(-10px);

}



.contact-content .contact-address {

    padding: 53px 15px 59px;

    position: relative;

}



.contact-address .style1 img {

    margin-top: -128px;

}



.contact-address .style1 img:before {

    content: "";

    position: absolute;

    top: 0;

    left: 0;

    width: 90px;

    height: 90px;

    background: yellow;

    border: 1px solid #000;

}



.contact-content .details h5 {

    font-size: 20px;

    color: #333333;

    line-height: 25px;

    margin-bottom: 17px;

}



.contact-content .details p {

    margin-bottom: 1px;

}



.contact .comment-form .name-container, .themesflat-contact-form .input-wrap.name {

    width: 32%;

    float: left;

    margin-right: 2%;

}



.wrap-header-content {

	float: right;

    padding-top: 33px;

}



.wrap-header-content a.appoinment {

	padding: 0 22px;

	line-height: 49px;

	height: 49px;

	margin-top: 4px;

}



.wrap-header-content > * {

	float: left;

	margin-left: 0;

	margin-bottom: 23px;

}



.wrap-header-content strong {

	display: inline-block;

	letter-spacing: -0.1px;

}



.wrap-header-content p {

	margin-bottom: 0;

}



.wrap-header-content ul li {

	float: left;

	list-style: none;

	width: 270px;

	margin-right: 30px;

	position: relative;

	padding-left: 39px;

	line-height: 20px;

}



.wrap-header-content ul li i {

	font-size: 22px;

	position: absolute;

	left: 0;

	top: 2px;

}



.wrap-header-content ul li:last-child {

	margin-right: 0;

}



/* CONTACT FORM 4*/



.contactform4 select,.contactform4  textarea, 

.contactform4 input[type="text"], .contactform4 input[type="password"], 

.contactform4 input[type="datetime"], .contactform4 input[type="datetime-local"],

.contactform4 input[type="date"], .contactform4 input[type="month"], 

.contactform4 input[type="time"], .contactform4 input[type="week"], 

.contactform4 input[type="number"], .contactform4 input[type="email"], 

.contactform4 input[type="url"], .contactform4 input[type="search"], 

.contactform4 input[type="tel"], .contactform4 input[type="color"] {

	font-size: 13px;

}



.contactform4  textarea {

	padding-top: 12px;

	margin-bottom: 23px;

}



.contactform4 input[type="submit"] {

	font-weight: 700;

    font-size: 14px;

    width: 130px;

}



/* Home 8 */

.home8_custom1 .themesflat_imagebox .imagebox-title {

       margin-top: 33px;

    margin-bottom: 11px;

    letter-spacing: 0px;

}



.home8_custom1 .themesflat_imagebox {

	margin-bottom: 30px;

}



.home8_custom2 .themesflat_imagebox .imagebox-image {

	margin-bottom: 34px;

}



.home8_custom2 .themesflat_imagebox .imagebox-content {

	padding: 0 5px;

}



.home8_custom2 .themesflat_imagebox .imagebox-title {

	margin-bottom: 20px;

}



.home8_btn1 {

	letter-spacing: 0.25px

}



.home8_btn1 a {

	font-weight: 700;

}



.home8_btn1 i {

	padding-left: 7px;

}



.wpb_single_image.big_image img {

	width: auto;

	max-width: initial;

	height: 100%;

	margin-left: -68px;

}



.contactform_style3 input[type=text],

.contactform_style3 select {

	font-size: 12px;

    padding-left: 19px;

    letter-spacing: -0.1px;

}



.contactform_style3 button {

    height: 50px;

    color: #fff;

    font-weight: bold;

}



.contactform_style3 button i {

	padding-left: 9px;

}



.themesflat-widget-languages {

	padding-left: 11px;

	position: relative;

}



.themesflat-top:not(.header-style5) .themesflat-widget-languages {

	top: 10px;

}



.themesflat-widget-languages:before {

	left: 0;

	right: auto;

}



.top_bar2 .themesflat-top {

	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1); 

}



.top_bar2 .themesflat-top .content-left li {

    margin-top: 14px;

    letter-spacing: -0.16px;

    float: right;

}



.top_bar2 .themesflat-top .content-left li i {

	margin-right: 9px;

	font-size: 16px;

}



.top_bar2 .info-top-right span {

    margin-right: 19px;

    letter-spacing: 0;

}



.top_bar2 .info-top-right span i {

	margin-right: 6px;

}



.top_bar2 .themesflat-top .themesflat-socials {

	margin-right: 9px;

	margin-top: 0;

}



.top_bar2 .wrap-header-content ul li i {

	font-size: 26px;

	color: #18BA60;

}



/* wpml*/

.themesflat-widget-languages  #lang_sel {

	height: auto;

	font-family: inherit;

	float: right;

}



.themesflat-widget-languages  #lang_sel a {

	border: none;

	font-size: 12px;

	line-height: 30px;

	

}



.themesflat-top:not(.header-style5) .themesflat-widget-languages #lang_sel a span {

	color: #fff;

}



.themesflat-widget-languages #lang_sel li {

	width: 100%;

    min-width: 91px;    

}



.themesflat-widget-languages #lang_sel ul ul {

	left: auto;

	right: 0;

}



.themesflat-top:not(.header-style5)  .themesflat-widget-languages #lang_sel a.lang_sel_sel:hover {

	background: transparent;

}



.themesflat-top:not(.header-style5)  .themesflat-widget-languages #lang_sel a:hover span, .themesflat-top:not(.header-style5)  .themesflat-widget-languages #lang_sel a.lang_sel_sel:hover:after {

	color: #18ba60;

}



.themesflat-widget-languages #lang_sel a.lang_sel_sel {

	background: none;

}



.themesflat-widget-languages #lang_sel a.lang_sel_sel:after {

    content: "\f107";

    font-family: FontAwesome;

    line-height: 30px;

    position: absolute;

    right: 0px;

    color: #fff;

}



.themesflat-widget-languages #lang_sel img.iclflag {

	top: 0;

	width: 16px;

	height: 11px;

}