@font-face {
  font-family: 'simple-line-icons';
  src: url('../fonts/Simple-Line-Icons.eot?v=2.4.0');
  src: url('../fonts/Simple-Line-Icons.eot?v=2.4.0#iefix') format('embedded-opentype'), url('../fonts/Simple-Line-Icons.woff2?v=2.4.0') format('woff2'), url('../fonts/Simple-Line-Icons.ttf?v=2.4.0') format('truetype'), url('../fonts/Simple-Line-Icons.woff?v=2.4.0') format('woff'), url('../fonts/Simple-Line-Icons.svg?v=2.4.0#simple-line-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
 Use the following CSS code if you want to have a class per icon.
 Instead of a list of all class selectors, you can use the generic [class*="icon-"] selector, but it's slower:
*/
.iconsl-user,
.iconsl-people,
.iconsl-user-female,
.iconsl-user-follow,
.iconsl-user-following,
.iconsl-user-unfollow,
.iconsl-login,
.iconsl-logout,
.iconsl-emotsmile,
.iconsl-phone,
.iconsl-call-end,
.iconsl-call-in,
.iconsl-call-out,
.iconsl-map,
.iconsl-location-pin,
.iconsl-direction,
.iconsl-directions,
.iconsl-compass,
.iconsl-layers,
.iconsl-menu,
.iconsl-list,
.iconsl-options-vertical,
.iconsl-options,
.iconsl-arrow-down,
.iconsl-arrow-left,
.iconsl-arrow-right,
.iconsl-arrow-up,
.iconsl-arrow-up-circle,
.iconsl-arrow-left-circle,
.iconsl-arrow-right-circle,
.iconsl-arrow-down-circle,
.iconsl-check,
.iconsl-clock,
.iconsl-plus,
.iconsl-minus,
.iconsl-close,
.iconsl-event,
.iconsl-exclamation,
.iconsl-organization,
.iconsl-trophy,
.iconsl-screen-smartphone,
.iconsl-screen-desktop,
.iconsl-plane,
.iconsl-notebook,
.iconsl-mustache,
.iconsl-mouse,
.iconsl-magnet,
.iconsl-energy,
.iconsl-disc,
.iconsl-cursor,
.iconsl-cursor-move,
.iconsl-crop,
.iconsl-chemistry,
.iconsl-speedometer,
.iconsl-shield,
.iconsl-screen-tablet,
.iconsl-magic-wand,
.iconsl-hourglass,
.iconsl-graduation,
.iconsl-ghost,
.iconsl-game-controller,
.iconsl-fire,
.iconsl-eyeglass,
.iconsl-envelope-open,
.iconsl-envelope-letter,
.iconsl-bell,
.iconsl-badge,
.iconsl-anchor,
.iconsl-wallet,
.iconsl-vector,
.iconsl-speech,
.iconsl-puzzle,
.iconsl-printer,
.iconsl-present,
.iconsl-playlist,
.iconsl-pin,
.iconsl-picture,
.iconsl-handbag,
.iconsl-globe-alt,
.iconsl-globe,
.iconsl-folder-alt,
.iconsl-folder,
.iconsl-film,
.iconsl-feed,
.iconsl-drop,
.iconsl-drawer,
.iconsl-docs,
.iconsl-doc,
.iconsl-diamond,
.iconsl-cup,
.iconsl-calculator,
.iconsl-bubbles,
.iconsl-briefcase,
.iconsl-book-open,
.iconsl-basket-loaded,
.iconsl-basket,
.iconsl-bag,
.iconsl-action-undo,
.iconsl-action-redo,
.iconsl-wrench,
.iconsl-umbrella,
.iconsl-trash,
.iconsl-tag,
.iconsl-support,
.iconsl-frame,
.iconsl-size-fullscreen,
.iconsl-size-actual,
.iconsl-shuffle,
.iconsl-share-alt,
.iconsl-share,
.iconsl-rocket,
.iconsl-question,
.iconsl-pie-chart,
.iconsl-pencil,
.iconsl-note,
.iconsl-loop,
.iconsl-home,
.iconsl-grid,
.iconsl-graph,
.iconsl-microphone,
.iconsl-music-tone-alt,
.iconsl-music-tone,
.iconsl-earphones-alt,
.iconsl-earphones,
.iconsl-equalizer,
.iconsl-like,
.iconsl-dislike,
.iconsl-control-start,
.iconsl-control-rewind,
.iconsl-control-play,
.iconsl-control-pause,
.iconsl-control-forward,
.iconsl-control-end,
.iconsl-volume-1,
.iconsl-volume-2,
.iconsl-volume-off,
.iconsl-calendar,
.iconsl-bulb,
.iconsl-chart,
.iconsl-ban,
.iconsl-bubble,
.iconsl-camrecorder,
.iconsl-camera,
.iconsl-cloud-download,
.iconsl-cloud-upload,
.iconsl-envelope,
.iconsl-eye,
.iconsl-flag,
.iconsl-heart,
.iconsl-info,
.iconsl-key,
.iconsl-link,
.iconsl-lock,
.iconsl-lock-open,
.iconsl-magnifier,
.iconsl-magnifier-add,
.iconsl-magnifier-remove,
.iconsl-paper-clip,
.iconsl-paper-plane,
.iconsl-power,
.iconsl-refresh,
.iconsl-reload,
.iconsl-settings,
.iconsl-star,
.iconsl-symbol-female,
.iconsl-symbol-male,
.iconsl-target,
.iconsl-credit-card,
.iconsl-paypal,
.iconsl-social-tumblr,
.iconsl-social-twitter,
.iconsl-social-facebook,
.iconsl-social-instagram,
.iconsl-social-linkedin,
.iconsl-social-pinterest,
.iconsl-social-github,
.iconsl-social-google,
.iconsl-social-reddit,
.iconsl-social-skype,
.iconsl-social-dribbble,
.iconsl-social-behance,
.iconsl-social-foursqare,
.iconsl-social-soundcloud,
.iconsl-social-spotify,
.iconsl-social-stumbleupon,
.iconsl-social-youtube,
.iconsl-social-dropbox,
.iconsl-social-vkontakte,
.iconsl-social-steam {
  font-family: 'simple-line-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconsl-user:before {
  content: "\e005";
}
.iconsl-people:before {
  content: "\e001";
}
.iconsl-user-female:before {
  content: "\e000";
}
.iconsl-user-follow:before {
  content: "\e002";
}
.iconsl-user-following:before {
  content: "\e003";
}
.iconsl-user-unfollow:before {
  content: "\e004";
}
.iconsl-login:before {
  content: "\e066";
}
.iconsl-logout:before {
  content: "\e065";
}
.iconsl-emotsmile:before {
  content: "\e021";
}
.iconsl-phone:before {
  content: "\e600";
}
.iconsl-call-end:before {
  content: "\e048";
}
.iconsl-call-in:before {
  content: "\e047";
}
.iconsl-call-out:before {
  content: "\e046";
}
.iconsl-map:before {
  content: "\e033";
}
.iconsl-location-pin:before {
  content: "\e096";
}
.iconsl-direction:before {
  content: "\e042";
}
.iconsl-directions:before {
  content: "\e041";
}
.iconsl-compass:before {
  content: "\e045";
}
.iconsl-layers:before {
  content: "\e034";
}
.iconsl-menu:before {
  content: "\e601";
}
.iconsl-list:before {
  content: "\e067";
}
.iconsl-options-vertical:before {
  content: "\e602";
}
.iconsl-options:before {
  content: "\e603";
}
.iconsl-arrow-down:before {
  content: "\e604";
}
.iconsl-arrow-left:before {
  content: "\e605";
}
.iconsl-arrow-right:before {
  content: "\e606";
}
.iconsl-arrow-up:before {
  content: "\e607";
}
.iconsl-arrow-up-circle:before {
  content: "\e078";
}
.iconsl-arrow-left-circle:before {
  content: "\e07a";
}
.iconsl-arrow-right-circle:before {
  content: "\e079";
}
.iconsl-arrow-down-circle:before {
  content: "\e07b";
}
.iconsl-check:before {
  content: "\e080";
}
.iconsl-clock:before {
  content: "\e081";
}
.iconsl-plus:before {
  content: "\e095";
}
.iconsl-minus:before {
  content: "\e615";
}
.iconsl-close:before {
  content: "\e082";
}
.iconsl-event:before {
  content: "\e619";
}
.iconsl-exclamation:before {
  content: "\e617";
}
.iconsl-organization:before {
  content: "\e616";
}
.iconsl-trophy:before {
  content: "\e006";
}
.iconsl-screen-smartphone:before {
  content: "\e010";
}
.iconsl-screen-desktop:before {
  content: "\e011";
}
.iconsl-plane:before {
  content: "\e012";
}
.iconsl-notebook:before {
  content: "\e013";
}
.iconsl-mustache:before {
  content: "\e014";
}
.iconsl-mouse:before {
  content: "\e015";
}
.iconsl-magnet:before {
  content: "\e016";
}
.iconsl-energy:before {
  content: "\e020";
}
.iconsl-disc:before {
  content: "\e022";
}
.iconsl-cursor:before {
  content: "\e06e";
}
.iconsl-cursor-move:before {
  content: "\e023";
}
.iconsl-crop:before {
  content: "\e024";
}
.iconsl-chemistry:before {
  content: "\e026";
}
.iconsl-speedometer:before {
  content: "\e007";
}
.iconsl-shield:before {
  content: "\e00e";
}
.iconsl-screen-tablet:before {
  content: "\e00f";
}
.iconsl-magic-wand:before {
  content: "\e017";
}
.iconsl-hourglass:before {
  content: "\e018";
}
.iconsl-graduation:before {
  content: "\e019";
}
.iconsl-ghost:before {
  content: "\e01a";
}
.iconsl-game-controller:before {
  content: "\e01b";
}
.iconsl-fire:before {
  content: "\e01c";
}
.iconsl-eyeglass:before {
  content: "\e01d";
}
.iconsl-envelope-open:before {
  content: "\e01e";
}
.iconsl-envelope-letter:before {
  content: "\e01f";
}
.iconsl-bell:before {
  content: "\e027";
}
.iconsl-badge:before {
  content: "\e028";
}
.iconsl-anchor:before {
  content: "\e029";
}
.iconsl-wallet:before {
  content: "\e02a";
}
.iconsl-vector:before {
  content: "\e02b";
}
.iconsl-speech:before {
  content: "\e02c";
}
.iconsl-puzzle:before {
  content: "\e02d";
}
.iconsl-printer:before {
  content: "\e02e";
}
.iconsl-present:before {
  content: "\e02f";
}
.iconsl-playlist:before {
  content: "\e030";
}
.iconsl-pin:before {
  content: "\e031";
}
.iconsl-picture:before {
  content: "\e032";
}
.iconsl-handbag:before {
  content: "\e035";
}
.iconsl-globe-alt:before {
  content: "\e036";
}
.iconsl-globe:before {
  content: "\e037";
}
.iconsl-folder-alt:before {
  content: "\e039";
}
.iconsl-folder:before {
  content: "\e089";
}
.iconsl-film:before {
  content: "\e03a";
}
.iconsl-feed:before {
  content: "\e03b";
}
.iconsl-drop:before {
  content: "\e03e";
}
.iconsl-drawer:before {
  content: "\e03f";
}
.iconsl-docs:before {
  content: "\e040";
}
.iconsl-doc:before {
  content: "\e085";
}
.iconsl-diamond:before {
  content: "\e043";
}
.iconsl-cup:before {
  content: "\e044";
}
.iconsl-calculator:before {
  content: "\e049";
}
.iconsl-bubbles:before {
  content: "\e04a";
}
.iconsl-briefcase:before {
  content: "\e04b";
}
.iconsl-book-open:before {
  content: "\e04c";
}
.iconsl-basket-loaded:before {
  content: "\e04d";
}
.iconsl-basket:before {
  content: "\e04e";
}
.iconsl-bag:before {
  content: "\e04f";
}
.iconsl-action-undo:before {
  content: "\e050";
}
.iconsl-action-redo:before {
  content: "\e051";
}
.iconsl-wrench:before {
  content: "\e052";
}
.iconsl-umbrella:before {
  content: "\e053";
}
.iconsl-trash:before {
  content: "\e054";
}
.iconsl-tag:before {
  content: "\e055";
}
.iconsl-support:before {
  content: "\e056";
}
.iconsl-frame:before {
  content: "\e038";
}
.iconsl-size-fullscreen:before {
  content: "\e057";
}
.iconsl-size-actual:before {
  content: "\e058";
}
.iconsl-shuffle:before {
  content: "\e059";
}
.iconsl-share-alt:before {
  content: "\e05a";
}
.iconsl-share:before {
  content: "\e05b";
}
.iconsl-rocket:before {
  content: "\e05c";
}
.iconsl-question:before {
  content: "\e05d";
}
.iconsl-pie-chart:before {
  content: "\e05e";
}
.iconsl-pencil:before {
  content: "\e05f";
}
.iconsl-note:before {
  content: "\e060";
}
.iconsl-loop:before {
  content: "\e064";
}
.iconsl-home:before {
  content: "\e069";
}
.iconsl-grid:before {
  content: "\e06a";
}
.iconsl-graph:before {
  content: "\e06b";
}
.iconsl-microphone:before {
  content: "\e063";
}
.iconsl-music-tone-alt:before {
  content: "\e061";
}
.iconsl-music-tone:before {
  content: "\e062";
}
.iconsl-earphones-alt:before {
  content: "\e03c";
}
.iconsl-earphones:before {
  content: "\e03d";
}
.iconsl-equalizer:before {
  content: "\e06c";
}
.iconsl-like:before {
  content: "\e068";
}
.iconsl-dislike:before {
  content: "\e06d";
}
.iconsl-control-start:before {
  content: "\e06f";
}
.iconsl-control-rewind:before {
  content: "\e070";
}
.iconsl-control-play:before {
  content: "\e071";
}
.iconsl-control-pause:before {
  content: "\e072";
}
.iconsl-control-forward:before {
  content: "\e073";
}
.iconsl-control-end:before {
  content: "\e074";
}
.iconsl-volume-1:before {
  content: "\e09f";
}
.iconsl-volume-2:before {
  content: "\e0a0";
}
.iconsl-volume-off:before {
  content: "\e0a1";
}
.iconsl-calendar:before {
  content: "\e075";
}
.iconsl-bulb:before {
  content: "\e076";
}
.iconsl-chart:before {
  content: "\e077";
}
.iconsl-ban:before {
  content: "\e07c";
}
.iconsl-bubble:before {
  content: "\e07d";
}
.iconsl-camrecorder:before {
  content: "\e07e";
}
.iconsl-camera:before {
  content: "\e07f";
}
.iconsl-cloud-download:before {
  content: "\e083";
}
.iconsl-cloud-upload:before {
  content: "\e084";
}
.iconsl-envelope:before {
  content: "\e086";
}
.iconsl-eye:before {
  content: "\e087";
}
.iconsl-flag:before {
  content: "\e088";
}
.iconsl-heart:before {
  content: "\e08a";
}
.iconsl-info:before {
  content: "\e08b";
}
.iconsl-key:before {
  content: "\e08c";
}
.iconsl-link:before {
  content: "\e08d";
}
.iconsl-lock:before {
  content: "\e08e";
}
.iconsl-lock-open:before {
  content: "\e08f";
}
.iconsl-magnifier:before {
  content: "\e090";
}
.iconsl-magnifier-add:before {
  content: "\e091";
}
.iconsl-magnifier-remove:before {
  content: "\e092";
}
.iconsl-paper-clip:before {
  content: "\e093";
}
.iconsl-paper-plane:before {
  content: "\e094";
}
.iconsl-power:before {
  content: "\e097";
}
.iconsl-refresh:before {
  content: "\e098";
}
.iconsl-reload:before {
  content: "\e099";
}
.iconsl-settings:before {
  content: "\e09a";
}
.iconsl-star:before {
  content: "\e09b";
}
.iconsl-symbol-female:before {
  content: "\e09c";
}
.iconsl-symbol-male:before {
  content: "\e09d";
}
.iconsl-target:before {
  content: "\e09e";
}
.iconsl-credit-card:before {
  content: "\e025";
}
.iconsl-paypal:before {
  content: "\e608";
}
.iconsl-social-tumblr:before {
  content: "\e00a";
}
.iconsl-social-twitter:before {
  content: "\e009";
}
.iconsl-social-facebook:before {
  content: "\e00b";
}
.iconsl-social-instagram:before {
  content: "\e609";
}
.iconsl-social-linkedin:before {
  content: "\e60a";
}
.iconsl-social-pinterest:before {
  content: "\e60b";
}
.iconsl-social-github:before {
  content: "\e60c";
}
.iconsl-social-google:before {
  content: "\e60d";
}
.iconsl-social-reddit:before {
  content: "\e60e";
}
.iconsl-social-skype:before {
  content: "\e60f";
}
.iconsl-social-dribbble:before {
  content: "\e00d";
}
.iconsl-social-behance:before {
  content: "\e610";
}
.iconsl-social-foursqare:before {
  content: "\e611";
}
.iconsl-social-soundcloud:before {
  content: "\e612";
}
.iconsl-social-spotify:before {
  content: "\e613";
}
.iconsl-social-stumbleupon:before {
  content: "\e614";
}
.iconsl-social-youtube:before {
  content: "\e008";
}
.iconsl-social-dropbox:before {
  content: "\e00c";
}
.iconsl-social-vkontakte:before {
  content: "\e618";
}
.iconsl-social-steam:before {
  content: "\e620";
}