/* Repeatable Patterns -------------------------------------------------------------- */
 ::-moz-selection {
     color: #fff;
     text-shadow: none;
     background: #78b942;
}
 ::-webkit-selection {
     color: #fff;
     text-shadow: none;
     background: #78b942;
}
 ::selection {
     color: #fff;
     text-shadow: none;
     background: #000;
}
 a,i {
     -webkit-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -ms-transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
}
 a {
     color: #222;
     text-decoration: none;
}
 a:hover {
     color: #00abc9;
     text-decoration: none;
     -webkit-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -ms-transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
}
 a:focus {
     text-decoration: none;
     outline: 0;
}
 a:hover, a:focus {
     color: #18ba60;
     text-decoration: none;
     outline: 0;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
}
 img {
     max-width: 100%;
     height: auto;
}
/* Typography */
 body, button, input, select, textarea {
     font: 14px/25px "Poppins", sans-serif;
     font-weight: 400;
     background: #fff;
     color: #656565;
}
 strong, b {
     font-weight: 700;
}
 p {
     margin-bottom: 20px;
}
 article p:last-of-type {
     margin-bottom: 0;
}
 dfn, cite, em, i {
     font-style: italic;
}
 table {
     width: 100%;
     margin-bottom: 20px;
}
 th,td {
     border: 1px solid #dbdbdb;
     padding: 7px;
     text-align: center;
}
 blockquote {
     font-size: 16px;
     color: #888;
     font-style: italic;
     position: relative;
     border: 0;
     padding: 20px 15px 20px 38px;
     margin-bottom: 143px;
}
 blockquote .blockqoute-text:before, blockquote .blockqoute-text:after {
     position: absolute;
     left: 0px;
     top: 4px;
     content: "”";
     font-size: 60px;
     line-height: 60px;
     color: rgb(153, 153, 153);
}
 blockquote > p:last-child {
     margin-bottom: 0;
}
 blockquote cite, blockquote small {
     font-size: 14px;
}
 blockquote em, blockquote i, blockquote cite {
     font-style: normal;
}
 blockquote strong, blockquote b {
     font-weight: 600;
}
 blockquote > p:last-child {
     margin-bottom: 0;
}
 abbr[title] {
     border-bottom: 1px dotted #c0c0c0;
     cursor: help;
}
 mark, ins {
     background-color: #18ba60;
     text-decoration: none;
     color: #fff;
     padding: 7px;
}
 sup, sub {
     font-size: 75%;
     height: 0;
     line-height: 0;
     position: relative;
     vertical-align: baseline;
}
 sup {
     top: -6px;
}
 sub {
     bottom: -3px;
}
 small {
     font-size: 75%;
}
 big {
     font-size: 125%;
}
 address {
     font-style: italic;
     margin: 0 0 20px;
}
 code, kbd, tt, var, samp, pre {
     font-family: Inconsolata, monospace;
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
}
 pre {
     background: #f9f9f9;
     border: 1px solid #eee;
     border-radius: 0;
     font-family: Consolas, monospace;
     height: auto;
     margin: 0 0 20px;
     overflow-x: auto;
     padding: 20px;
}
 h1.w6, h2.w6, h3.w6, h4.w6, h5.w6, h6.w6 {
     font-weight: 600;
}
 h1.w4, h2.w4, h3.w4, h4.w4, h5.w4, h6.w4 {
     font-weight: 400;
}
 h1,h2,h3,h4,h5,h6 {
     font-weight: 600;
     color: #222;
}
 h1,h2,h3,h4,h5,h6 {
     font-family: "Poppins",sans-serif;
}
 h1 {
     font-size: 32px;
}
 h2 {
     font-size: 25px;
}
 h3 {
     font-size: 22px 
}
 h4 {
     font-size: 18px;
}
 h5 {
     font-size: 15px;
}
 h6 {
     font-size: 14px;
}
 strong {
     color:#222;
}
/* Alignments */
 .alignleft {
     display: inline;
     float: left;
}
 .alignright {
     display: inline;
     float: right;
}
 .aligncenter {
     display: block;
     margin-right: auto;
     margin-left: auto;
}
 .blockcenter {
     left: 50%;
     transform: translatex(-50%);
     -moz-transform: translatex(-50%);
     - ms-transform: translatex(-50%);
     -webkit-transform: translatex(-50%);
     -o-transform: translatex(-50%);
}
 .color_theme {
     color: #18ba60;
}
 .title-section.magb-28 {
     margin-bottom: 28px;
}
 .float-right {
     float: right;
}
/* bootstrap gutter25*/
 .gutter-25.row {
     margin-right: -12.5px;
     margin-left: -12.5px;
}
 .gutter-25 > [class^="col-"], .gutter-25 > [class^=" col-"] {
     padding-right: 12.5px;
     padding-left: 12.5px;
}
/* bootstrap gutter10*/
 .row.gutter-10 {
     margin-left: -10px;
     margin-right: -10px;
}
 .gutter-10 > [class*='col-'] {
     padding-right:10px;
     padding-left:10px;
}
 .gutter-10 select,.gutter-10 textarea, .gutter-10 input[type="text"], .gutter-10 input[type="password"], .gutter-10 input[type="datetime"], .gutter-10 input[type="datetime-local"], .gutter-10 input[type="date"], .gutter-10 input[type="month"], .gutter-10 input[type="time"], .gutter-10 input[type="week"], .gutter-10 input[type="number"], .gutter-10 input[type="email"], .gutter-10 input[type="url"], .gutter-10 input[type="search"], .gutter-10 input[type="tel"], .gutter-10 input[type="color"] {
     margin-bottom: 20px;
}
 .mpl-44 {
     padding-left:44px 
}
 blockquote.alignleft, .wp-caption.alignleft, img.alignleft {
     margin: 7px 30px 25px 0 !important;
}
 blockquote.alignright, .wp-caption.alignright, img.alignright {
     margin: 7px 0 25px 30px !important;
}
 blockquote.aligncenter, .wp-caption.aligncenter, img.aligncenter {
     clear: both;
}
 .wp-caption.alignleft, .wp-caption.alignright, .wp-caption.aligncenter {
     margin-bottom: 10px;
}
 .clearboth {
     clear:both;
}
/* Content */
 .bypostauthor {
}
 .sticky,.tag-sticky-2 {
     display: block;
     background: #f7f7f7;
     border: 1px solid rgba(54, 70, 115, 0.08);
     padding: 30px;
}
 .page-header {
     margin: 0;
     border: 0;
}
 .page-header .nothing {
     padding: 0;
     background-color: transparent;
     font-size: 40px;
     line-height: 40px;
     color: #ff1200;
}
 .site-main {
     position: relative;
}
/* Accessibility */
/* Text meant only for screen readers. */
 .screen-reader-text {
     clip: rect(1px, 1px, 1px, 1px);
     position: absolute !important;
     height: 1px;
     width: 1px;
     overflow: hidden;
}
 .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
     background-color: #f1f1f1;
     border-radius: 3px;
     box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
     clip: auto !important;
     color: #21759b;
     display: block;
     font-size: 14px;
     font-size: 0.875rem;
     font-weight: 600;
     height: auto;
     left: 5px;
     line-height: normal;
     padding: 15px 23px 14px;
     text-decoration: none;
     top: 5px;
     width: auto;
     z-index: 100000;
}
/* Media */
 .page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {
     border: none;
     margin-bottom: 0;
     margin-top: 0;
     padding: 0;
}
/* Make sure embeds and iframes fit their containers. */
 embed, iframe, object {
     max-width: 100%;
}
 .white {
     color: #fff;
}
 .medium {
     font-weight: 500;
}
/* Captions */
 .wp-caption {
     margin-bottom: 1.5em;
     max-width: 100%;
}
 .wp-caption img[class*="wp-image-"] {
     display: block;
     margin: 0 auto;
}
 .wp-caption-text {
     text-align: center;
}
 .wp-caption .wp-caption-text {
     margin: 0.8075em 0;
}
/* Galleries */
 .gallery {
     margin-bottom: 1.5em;
}
 .gallery-item {
     display: inline-block;
     text-align: center;
     vertical-align: top;
     width: 100%;
}
 .gallery-columns-2 .gallery-item {
     max-width: 50%;
}
 .gallery-columns-3 .gallery-item {
     max-width: 33.33%;
}
 .gallery-columns-4 .gallery-item {
     max-width: 25%;
}
 .gallery-columns-5 .gallery-item {
     max-width: 20%;
}
 .gallery-columns-6 .gallery-item {
     max-width: 16.66%;
}
 .gallery-columns-7 .gallery-item {
     max-width: 14.28%;
}
 .gallery-columns-8 .gallery-item {
     max-width: 12.5%;
}
 .gallery-columns-9 .gallery-item {
     max-width: 11.11%;
}
 .gallery-caption {
     display: block;
}
/* Elements */
 hr {
     background-color: #eee;
     border: 0;
     height: 1px;
     margin-bottom: 20px;
}
 ul, ol {
     padding: 0;
     margin: 0 0 30px 25px;
}
 ul {
     list-style: disc;
}
 ol {
     list-style: decimal;
}
 li > ul, li > ol {
     margin-bottom: 0;
}
 dd, dt {
     line-height: 30px;
}
 ::-moz-selection {
     color: #fff;
     text-shadow: none;
     background: #333;
}
 ::-webkit-selection {
     color: #fff;
     text-shadow: none;
     background: #333;
}
 ::selection {
     color: #fff;
     text-shadow: none;
     background: #333;
}
/* Forms */
 button, input[type="button"], input[type="reset"], input[type="submit"] {
     height: 45px;
     background-color: #18ba60;
     font-family: "Poppins",sans-serif;
     font-size: 12px;
     font-weight: 600;
     line-height: 45px;
     padding: 0 27px;
     border-radius: 3px;
     cursor: pointer;
     white-space: nowrap;
     border: none;
     z-index: 0;
     display: inline-block;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
}
 button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
     background-color: #2e363a;
     color: #fff;
}
 select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
     border: 1px solid #dfdfdf;
     height: 50px;
     padding: 13px 15px;
     width: 100%;
     color: #999;
     margin-bottom: 30px;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
}
 textarea:focus, select:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
     border: 1px solid #18ba60;
     outline: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
}
 textarea {
     width: 100%;
     height: 179px;
     padding: 22px 0 0 15px;
}
 input[type="checkbox"] {
     display: inline;
}
 input:-moz-placeholder, textarea:-moz-placeholder, input::-moz-placeholder, textarea::-moz-placeholder {
     color: #555;
     opacity: 1;
}
 input:-ms-input-placeholder, textarea:-ms-input-placeholder {
     color: #555;
}
 input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
     color: #555;
     opacity: 1;
}
/* Bootstrap Resetting Elements */
 .btn {
     background-image: none;
}
 textarea, input[type="text"], input[type="submit"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .dropdown-menu, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
     -webkit-appearance: none;
     text-shadow: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     -o-box-shadow: none;
     box-shadow: none;
}
 input[type="submit"] {
     border-width: 0;
     color: #fff;
}
/* button */
 .content-area .wpb_button {
     position: relative;
     display: inline-block;
     padding: 13px 30px;
     font-family: "Poppins", sans-serif;
     font-size: 14px;
     line-height: 24px;
     font-weight: 700;
     background-color: #2e5797;
     color: #fff;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     border-radius: 4px;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -ms-transition: all 0.3s;
     -o-transition: all 0.3s;
     transition: all 0.3s;
}
 .content-area .wpb_button:hover {
     background-color: #133974;
     color: #fff;
}


/* Header
-------------------------------------------------------------- */
#mainnav ul.sub-menu > li > a {
  display: block;
  width: 100%;
}

#mainnav ul.sub-menu > li {
    border-bottom: 1px solid;
    border-color: transparent;
}

.site-navigation ul.menu li.menu-item-has-children {
    position: relative;
}

.site-navigation ul.menu li.menu-item-has-children:after {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.site-header {
    /*position: relative !important;*/
}

.site-navigation ul.menu li.menu-item-has-children:after {
    color: #fff !important;
}

.site-navigation ul.menu li a {
    padding: 8px 20px !important;
}

.home .site-header {
   position: absolute;
    width: 100%;
    z-index: 90;
    padding: 0;
    max-width: 100%;
   /* -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
}

.site-header-inner {    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 100%;
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto; 
}

.site-navigation ul.menu li ul {
    min-width: 200px;
    padding: 15px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    display: block;
}

.site-navigation ul.menu li:hover>ul {
    visibility: visible;
    opacity: 1;

}
/* Mobile navigation
-------------------------------------------------------------- */
#mainnav-mobi {
   	display: block;
   	margin: 0 auto;
   	width: 100%;
   	z-index: 1000;
   	position: absolute;
    top: 100%;
    left: 0;
}

#mainnav-mobi ul {
   	display: block;
   	list-style: none;
   	margin: 0;
   	padding: 0;
}

#mainnav-mobi ul {
	background-color: #222222;
}

#mainnav-mobi ul li {
   	margin:0;
   	position: relative;
   	text-align: center;
   	border-top: 1px solid rgba(255,255,255,0.05);
   	cursor: pointer;
   	background-color: #222222;
}

#mainnav-mobi ul ul li {
    background-color: #252525;
}

#mainnav-mobi ul ul ul li {
    background-color: #292929;
}

#mainnav-mobi ul > li > a {
   	text-decoration: none;
   	height: 50px;
   	line-height: 50px;
   	padding: 0 15px;
   	color: #b1b1b1;
}

#mainnav-mobi ul.sub-menu {
   	top: 100%;
   	left: 0;
   	z-index: 2000;
   	position: relative;
}

#mainnav-mobi ul.sub-menu > li > a {
   	display: block;
   	text-decoration: none;
   	padding: 0 15px;
   	border-top-color: rgba(255,255,255,.1);
	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
	     -o-transition: all 0.2s ease-out;
	        transition: all 0.2s ease-out;
}

#mainnav-mobi ul li ul li ul li a {
   	padding-left: 45px !important;
}

#mainnav-mobi > ul > li > ul > li:first-child a {
	border-top: none;
}

.btn-menu {
	display: none;
	position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
	background: transparent;
	cursor: pointer;
	width: 26px;
	height: 16px;
    -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after, 
.btn-menu span {
	background-color: #2387ea;
    -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after {
	content: "";
	position: absolute;
	top: 0;
	height: 2px;
	width: 100%;
	left: 0;
	top: 50%;
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
}

.btn-menu span {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	top: 50%;
	overflow: hidden;
	text-indent: 200%;
}

.btn-menu:before {
	-webkit-transform: translate3d(0, -7px, 0);
        transform: translate3d(0, -7px, 0);
}

.btn-menu:after {
	-webkit-transform: translate3d(0, 7px, 0);
        transform: translate3d(0, 7px, 0);
}

.btn-menu.active span {
	opacity: 0;
}

.btn-menu.active:before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
}

.btn-menu.active:after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
}

.btn-submenu {
   position: absolute;
   right: 20px;
   top: 0;
   font: 20px/50px 'FontAwesome';
   text-align: center;
   cursor: pointer;
   width: 50px;
   height: 50px;
}

.btn-menu {
   display: none; 
}

.themesflat-button {
	position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.button-bg-color .themesflat-button::before,
.themesflat-button.button-bg-color::before {
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    position: absolute;
    right: 0;
    background: #222;
    z-index: -1;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.themesflat-button:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

.themesflat-button.no-background:before {
	display: none;
}

/* Footer
-------------------------------------------------------------- */
.footer-widgets-container,
.bottom .container,
.container {    
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
    padding: 0 10px;
}

.footer-widgets,
.bottom-row,
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.col-lg-12,
.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-6,
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-4,
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 10px;
    padding-left: 10px;
}

.col-lg-3,
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 10px;
    padding-left: 10px;
}

.copyright {
  padding: 20px 0;
}

.bottom .copyright a {
    color: #4769D8 !important;
}

.bottom .copyright a:hover {
    color: #2E54D3 !important;;
}

.footer-widgets .widget .widget-title {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", Sans-serif;
    color: #131a2b !important;
}

.footer-widgets .widget ul {
    list-style: none;
}

.footer-widgets .widget ul li {
    margin-bottom: 10px;
}

.widget .menu-get-help-container ul li {
    width: 50%;
    float: left;
}

.footer-widgets .widget ul li:first-child {
    margin-top: 0;
}

.footer-widgets .widget ul li a {
    font-size: 14px;
}
.mc4wp-form-fields {
    position: relative;
}

.mc4wp-form input[type="email"] {
    color: #131a2b;
    background-color: #fff;
    position: relative;
    border: none;
    padding: 0;
    border: 1px solid transparent;
    height: 50px;
    max-width: 100%;
    padding: 10px 15px;
    margin-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.mc4wp-form button {
    width: 120px;
    height: 50px;
    color: #fff;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 0;
    position: absolute;
    top: 0;
    right: -1px;
    border: none;
    border-radius: 0;
    background: #f73859;
}

.mc4wp-form button:hover {
    background-color: #2E54D3
}

.textwidget.custom-html-widget h1 {
    font-size: 1rem;
    color: #131a2b;
}

ul.suri-socials {
    margin-top: 20px;
}

ul.suri-socials li {
    display: inline;
}

ul.suri-socials li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 8px 0 0;
    background-color: #4769d8;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

ul.suri-socials li a:hover {
    background: #2E54D3;
}

/* Pagetitle
-------------------------------------------------------------- */
.page-title {
    background-size: cover;
}

.page-title .page-title-heading h1 {
    margin: 0;
}

.page-title.pagetitle_style_2 .page-title-heading {
    display: table-cell;
    margin: 0;
    text-align: left;
    vertical-align: middle;  
}

.page-title.pagetitle_style_2 .breadcrumbs {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

.page-title.pagetitle_style_2 .page-title-container {
    display: table;
    width: 100%;
}

.page-title.pagetitle_style_3 {
    text-align: center;
} 

.page-title {
    position: relative;
    overflow: hidden;
}

.page-title .overlay-image,
.page-title .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Comments
-------------------------------------------------------------- */
.comments-area .title-comments {
   text-transform: uppercase;
}

.comment-respond {
     background: #eeeeee;
     padding: 50px;
     margin-bottom: 30px;
}
 .comment-respond .comment-reply-title {
     font-size: 25px;
     margin-top: 7px;
     text-transform: uppercase;
}
 .comment-respond input[type=submit] {
     text-transform: uppercase;
     margin-bottom: -12px;
}
 .comment-respond input[type=text], .comment-respond input[type=email], .comment-respond input[type=url] {
     height: 43px;
}
 p.comment-notes {
     margin-bottom: 27px;
}
 .comment-respond p.comment-form-author, .comment-respond p.comment-form-email, .comment-respond p.comment-form-url {
     width: 32.333%;
     float: left;
     margin-bottom: -11px;
}
.comment-respond .comment-form-author, .comment-respond .comment-form-email {
     margin-right: 1.5%;
}
textarea#comment {
     margin-bottom: 2px;
}

.comment-respond label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

#comments .comment .comment-body, 
#comments .pingback .comment-body {
    margin-bottom: 30px;
}

.comment-list .reply {
    margin-top: 15px;
}


/* Blog
-------------------------------------------------------------- */
.page-content {
    padding: 50px 0;
}

.post .post-meta {
    padding: 0;
    margin: 0;
}

.post .post-meta li {
    display: inline-block;
    padding-right: 20px;
}

.page-template-blog .page-content,
.blog .page-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin: 0 - 10px;
}

.page-template-blog .page-content article,
.blog .page-content article {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 10px;
}

.page-template-blog .page-content article .entry-title,
.blog .page-content article .entry-title {
    font-size: 20px;
    margin: 5px 0px 15px 0px;
    line-height: 1.2;
}

.page-template-blog .page-content article .entry-title a,
.blog .page-content article .entry-title a {
    color: #3B3663;
}

.page-template-blog .page-content article .entry-title a:hover,
.blog .page-content article .entry-title a:hover {
    color: #6254E7;
}

.page-template-blog .page-content article .post-meta a,
.blog .page-content article .post-meta a {
    font-size: 12px;
    font-weight: 700;
    color: #696687;
    text-transform: capitalize;
}

.page-template-blog .page-content article .post-meta a:hover,
.blog .page-content article .post-meta a:hover {
    color: rgba(0, 0, 0, 0.5);
}

.page-template-blog .page-content article .post-meta span,
.blog .page-content article .post-meta span {
    margin-right: 5px;
    font-size: 12px;
    color: #696687;
}

.page-template-blog .page-content article .content-post,
.blog .page-content article .content-post {
    line-height: 1.5em;
    margin: 0px 0px 30px 0px;
}

.page-template-blog .page-content article .tf-button-container a,
.blog .page-content article .tf-button-container a {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #6254E7;
    display: inline-block;
}

.page-template-blog .page-content article .tf-button-container a span,
.blog .page-content article .tf-button-container a span {
    margin-left: 10px;
    font-size: 12px;
}

/* Single Post
-------------------------------------------------------------- */
.single-post .page-content .featured-post {
    margin-bottom: 19px;
    position: relative;
}

.single-post .page-content .entry-title {
    margin-top: 1rem;
}

.single-post .post-meta a {
    font-weight: 700;
    color: #696687;
    text-transform: capitalize;
}

.single-post .post-meta a:hover {
    color: rgba(0, 0, 0, 0.5);
}

/* Sidebar Menu -------------------------------------------------------------- */
 .sidebar .widget.widget_nav_menu ul li {
     display: block;
     padding: 0 0 0 25px;
     margin-bottom: 2px;
     color: #222222;
     font-weight: 700;
     font-family: "Poppins", sans-serif;
     background-color: #f1f1f1;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -ms-transition: all 0.3s;
     -o-transition: all 0.3s;
     transition: all 0.3s;
}
 .sidebar .widget.widget_nav_menu ul li.active > a , .sidebar .widget.widget_nav_menu ul li.current-menu-item > a , .sidebar .widget.widget_nav_menu ul li a:hover {
     color: #fff;
}
 .sidebar .widget.widget_nav_menu ul li a {
     padding-top: 15px;
     padding-bottom: 15px;
     display: block;
     position: relative;
     z-index: 10;
}
 .sidebar .widget.widget_nav_menu ul li a:before {
     background-color: #3a526a;
     opacity: 0;
     filter: alpha(opacity=0);
     content: '';
     top: 0;
     left: -150px;
     min-width: 400px;
     position: absolute;
     z-index: -1;
     height: 0;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -ms-transition: all 0.3s;
     -o-transition: all 0.3s;
     transition: all 0.3s;
     width: 150%;
}
 .sidebar .widget.widget_nav_menu ul li.current-menu-item a:before, .sidebar .widget.widget_nav_menu ul li a:hover:before {
     background-color: #3a526a;
     height: 100%;
     opacity: 100;
     filter: alpha(opacity=100);
}
 .sidebar .widget.widget_nav_menu ul.sub-menu li {
     padding: 0 10px 0 10px;
}