/* Media Queries
-------------------------------------------------------------- */

@media only screen and (max-width: 1440px) {
	#mainnav > ul > li:nth-last-child(0n+1) > ul,
	#mainnav > ul > li:nth-last-child(0n+2) > ul {
		left: auto;
		right: 0;
	}

	#mainnav > ul > li:last-child ul {
		left: -100%;
	}

	#mainnav > ul > li:nth-last-child(0n+1) > ul.sub-menu > li ul.sub-menu,
	#mainnav > ul > li:nth-last-child(0n+2) > ul.sub-menu > li ul.sub-menu {
	    left: -100%;
	    top: 0;
	}
}

@media only screen and (max-width: 1366px) {
	.mockup {
	    width: 100%!important;
	    margin-left: 0%!important;
	}
}

/* Smaller than standard 1200 */
@media only screen and (max-width: 1199px) {
		
}

/* Smaller than standard 992 */
@media only screen and (max-width: 991px) {
	.themesflat-top {
		display: none;
	}

	.btn-submenu {
	   background-image: url(../images/arrow.png);
	   background-repeat: no-repeat;
	   background-position: center;
	   background-size: 15px;
	}

	.btn-submenu.active {
	   transform: rotate(90deg);
	}

	.btn-menu {
		display: block ;
	}	

	#mainnav-mobi .menu {
	    overflow-y: auto;
	    max-height: 100vh;
	}

	#mainnav  {
		display: none;
	}

	#mainnav-mobi .megamenu.col-2,
	#mainnav-mobi .megamenu.col-3,
	#mainnav-mobi .megamenu.col-4,
	#mainnav-mobi .megamenu.col-5,
	#mainnav-mobi .megamenu.col-6 {
	    -webkit-box-flex: unset;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    padding: 0;
	}

	.show-search {
		margin-right: 20px !important;
	}
	
	/* header-left */
	.header-left .adv-section {
		margin-left: 0;
	}

	.admin-bar.header-left .themesflat_header_wrap {
		padding: 0;
	}

	.header-left .header-wrap {
		width: 100%;
	}

	.header-left .logo {
		text-align: left;
		display: inline-block;
	    margin: 15px 0px;
	}

	.header-left .btn-menu {
	    float: right;	
	    margin: 32px 0px;
	}

	.header-left .themesflat_header_wrap {
		width: 100%;
	    max-width: 100%;
	    height: auto;
	    top: auto;
	    position: relative;
        overflow-y: unset;
	    -webkit-overflow-scrolling: unset;
	    -webkit-transition-duration: .8s;
	    transition-duration: .8s;
	    -webkit-transition-timing-function: ease;
	    transition-timing-function: ease;
	}

	.header-left header {
		padding-left: 15px;
		padding-right: 15px;
	}

	.header-left #mainnav-mobi {
		left: 0;
	}

	.header-left .themesflat-boxed {
	    margin: 0 auto;
	}

	.flat-social-header {
	    padding-top: 0px;
	}

	.header-left .themesflat_header_wrap .themesflat-socials {
	    padding: 15px 0;
	}
	
	/* sidebar */
	.page-wrap.sidebar-left .content-area, 
	.page-wrap.sidebar-right .content-area,
	.page-wrap.sidebar-left .widget-area, 
	.page-wrap.sidebar-right .widget-area {
	    float: none;
	    width: 100%;
	    padding-right: 0;
	    position: relative;
	}

	.page-wrap.sidebar-left .content-area, 
	.page-wrap.sidebar-right .content-area {
		margin-bottom: 60px;
	}

	.footer .widgets-areas {
		margin-bottom: 40px;
	}

	.footer .widgets-areas:last-of-type {
		margin-bottom: 0;
	}

	.header-style2 {
		text-align: center;
	}

	.header-style2 .btn-menu {
		float: none;
	    margin: 20px 0px; 
        display: inline-flex;
	}

	.blog-grid.columns-4 > .item, 
	.blog-grid-simple.columns-4 > .item {
    	float: left;
	    width: 50%;
	}

	.blog-grid-simple article .entry-meta ul li > i {
	    font-size: 17px;
	    padding-right: 5px;
	}

	.blog-grid-simple article .content-post {
	    padding: 20px 20px;
	}

	.portfolio-single .entry-content {
	    padding-right: 0px;
	    margin-bottom: 40px;
	}

	.themesflat-action-box .heading-wrap,
	.themesflat-action-box .button-wrap {
		width: 100%;
		display: block;
		text-align: center;
	}

	.themesflat-action-box .heading-wrap {
		margin-bottom: 20px;
	}

	.footer #widget_latest_news-3,
	.footer_s3 #mc4wp_form_widget-2, 
	.footer_s3 #widget_themesflat_socials-10 {
	    margin-left: 0;
	}

	.vertical-center {
		display: block;
	}

	.page-template-comming-soon-s1.admin-bar .section-comming-soon .box-comming-soon {
		top: 46px;
	}
	
	.show-search a {
		font-size: 17px;
	    top: 4px;
	}

	.mobi-2column {  
		width: 50%; 
		float: left; 
	} 

    .mobi-mgb30 { 
    	margin-bottom: 30px;
    }

    .mobi-mgb40 { 
    	margin-bottom: 40px; 
    }

    .mobi-mgt30 { 
    	margin-top: 30px;
    }

    .mobi-mgt40 { 
    	margin-top: 40px;
    }
    .blog-grid article,
    .blog-list article {
	    margin-bottom: 30px;
	}
}

/* Tablet Landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* Tablet Portrait Size */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {	
	.comment-respond .comment-left .name-container, 
	.comment-respond .comment-left .email-container {
	    width: 100%;
	    float: none;
	}	

	.page-wrap.fullwidth-small .wrap-content-area .blog-grid > .item,
	.page-wrap.fullwidth-small .wrap-content-area .blog-grid-simple > .item,
	.page-wrap.fullwidth-small .content-area .blog-grid > .item,
	.page-wrap.fullwidth-small .content-area .blog-grid-simple > .item,
	.page-wrap.fullwidth-small .wrap-content-area .blog-grid.columns-2 > .item,
	.page-wrap.fullwidth-small .wrap-content-area .blog-grid-simple.columns-2 > .item,
	.page-wrap.fullwidth-small .content-area .blog-grid.columns-2 > .item,
	.page-wrap.fullwidth-small .content-area .blog-grid-simple.columns-2 > .item,
	.page-wrap.fullwidth-small .wrap-content-area .blog-grid.columns-3 > .item,
	.page-wrap.fullwidth-small .wrap-content-area .blog-grid-simple.columns-3 > .item,
	.page-wrap.fullwidth-small .content-area .blog-grid.columns-3 > .item,
	.page-wrap.fullwidth-small .content-area .blog-grid-simple.columns-3 > .item,
	.page-wrap.fullwidth-small .wrap-content-area .blog-grid.columns-4 > .item,
	.page-wrap.fullwidth-small .wrap-content-area .blog-grid-simple.columns-4 > .item,
	.page-wrap.fullwidth-small .content-area .blog-grid.columns-4 > .item,
	.page-wrap.fullwidth-small .content-area .blog-grid-simple.columns-4 > .item,
	.page-wrap.fullwidth-small .wrap-content-area .blog-grid.columns-2 > .item,
	.page-wrap.fullwidth-small .wrap-content-area .blog-grid-simple.columns-2 > .item,
	.page-wrap.fullwidth-small .content-area .blog-grid.columns-2 > .item,
	.page-wrap.fullwidth-small .content-area .blog-grid-simple.columns-2 > .item {
	    float: none;
    	width: 100%;
	}
	
	.blog-grid.columns-2 > .item, 
	.blog-grid-simple.columns-2 > .item,
	.blog-grid.columns-3 > .item, 
	.blog-grid-simple.columns-3 > .item,
	.blog-grid.columns-4 > .item, 
	.blog-grid-simple.columns-4 > .item {
	    float: none;
	    width: 100%;
	}

	.blog-grid-simple article .content-post {
	    padding: 25px 30px;
	}

	.page-title h1 {
		font-size: 30px;
	}

	.page-title.inline .page-title-container h1, 
	.page-title.inline .breadcrumbs {
		display: block;
	}

	.page-title.inline .page-title-container h1 {
		margin-bottom: 10px;
	}

	.page-title.inline .breadcrumbs {
	    text-align: left;
	}

	.box-comming-soon {
	    padding: 15px;
	}

	.comming-soon-countdown .square .numb {
	    font-size: 30px;
	}

	.one-haft {
		width: 100%;
		float: none;
	}

	.mobi-mb20 {
		margin-bottom: 20px;
	}

	.mobi-mb30 {
		margin-bottom: 30px;
	}	

	.comments-area ul.children {
	    margin-left: 40px;
	}

	.themesflat_sc_vc-icon-box.one-haft {
		margin-bottom: 30px;
	}

	.mobi-small-hide {
		display: none;
	}

	.mobi-center {
		text-align: center;
	}

	.col-lg-12,
	.col-md-12,
	.col-lg-6,
	.col-md-6,
	.col-lg-4,
	.col-md-4,
	.col-lg-3,
	.col-md-3 {
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}

}

/* Mobile Landscape Size */
@media only screen and (min-width: 600px) and (max-width: 767px) {
	
}

/* Mobile Portrait Size */
@media only screen and (max-width: 600px) {
	
}

@media only screen and (max-width: 575px) {
	.comments-area ul.children {
	    margin-left: 20px;
	}
}

@media (max-width: 499px) {	
	.bottom .content-left, 
	.bottom .content-right {
		display: block;
	}

	.bottom .content-left.text-left,
	.bottom .content-right.text-right {
		text-align: center !important;
	}

	.bottom .content-right .text-left {
		margin-bottom: 10px;
	}

	.comments-area ol.comment-list article .gravatar {
	    float: none;
	    display:block;
	    border-radius: 50%;
	}

	.comments-area ol.comment-list article .gravatar img {
	    margin-right: 0px;
	    margin-bottom: 15px;
	}

	.comments-area ol.comment-list article {
	    margin-bottom: 30px;
	}

	.page-wrap.fullwidth-small .wrap-content-area, 
	.page-wrap.fullwidth-small .content-area {
	    width: 100%;
	    max-width: 100%;
	}

	.section-comming-soon .title-comming-soon {
	    font-size: 35px;
	}

	.mobi-supper-small-hide {
		display: none;
	}
}

@media (max-width: 360px) {	
	.comments-area ol.comment-list article .comment_content .comment_meta .comment_author {
	    margin-right: 5px;
	}
}