body:not(.rtl) .elementor-262 .elementor-element.elementor-element-77bc6ff{left:184px;}body.rtl .elementor-262 .elementor-element.elementor-element-77bc6ff{right:184px;}.elementor-262 .elementor-element.elementor-element-77bc6ff{bottom:40px;}