/**
 * DO NOT CHANGE THIS FILE!
 * To override any of the settings in this section, add your styling code in the custom directory.
 * Loading first in the style.scss & editor-style.scss
 */
/* Basic responsive layout
   ========================================================================== */
.site-header, body:not([class*="elementor-page-"]) .site-main {
  margin-right: auto;
  margin-left: auto; }

@media (max-width: 575px) {
  .site-header, body:not([class*="elementor-page-"]) .site-main {
    padding-right: 10px;
    padding-left: 10px; } }

@media (min-width: 576px) {
  .site-header, body:not([class*="elementor-page-"]) .site-main {
    max-width: 500px; } }

@media (min-width: 768px) {
  .site-header, body:not([class*="elementor-page-"]) .site-main {
    max-width: 600px; } }

@media (min-width: 992px) {
  .site-header, body:not([class*="elementor-page-"]) .site-main {
    max-width: 800px; } }

@media (min-width: 1200px) {
  .site-header, body:not([class*="elementor-page-"]) .site-main {
    max-width: 1170px; } }

/*
DO NOT CHANGE THIS FILE
to override any of the settings in this section, add your styling code in the custom directory.
 */
/* General - https://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */
.alignright {
  float: right;
  margin-left: 1rem; }

.alignleft {
  float: left;
  margin-right: 1rem; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pagination {
  margin: 20px auto; }

.sticky {
  position: relative;
  display: block; }

.bypostauthor {
  font-size: inherit; }

.gallery-caption {
  display: block;
  font-size: 0.8125rem;
  line-height: 1.5;
  margin: 0;
  padding: 0.75rem; }

.wp-caption {
  margin-bottom: 1.25rem;
  max-width: 100%; }
  .wp-caption.alignleft {
    margin: 5px 20px 20px 0; }
  .wp-caption.alignright {
    margin: 5px 0 20px 20px; }
  .wp-caption img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.wp-caption-text {
  margin: 0;
  text-align: center; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }
  .screen-reader-text:focus {
    background-color: #eeeeee;
    clip: auto !important;
    -webkit-clip-path: none;
            clip-path: none;
    color: #333333;
    display: block;
    font-size: 1rem;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Header layout
   ========================================================================== */
.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.site-branding {
  max-width: 300px; }
  .site-branding .site-title,
  .site-branding .site-description {
    margin: 0; }

.custom-logo-link {
  display: block; }

/* Main Menu
   ========================================================================== */
.site-navigation {
  grid-area: nav-menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .site-navigation ul.menu, .site-navigation ul.menu ul {
    list-style-type: none;
    padding: 0; }
  .site-navigation ul.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .site-navigation ul.menu li {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .site-navigation ul.menu li a {
        display: block;
        padding: 8px 15px; }
      .site-navigation ul.menu li.menu-item-has-children {
        padding-right: 15px; }
        .site-navigation ul.menu li.menu-item-has-children:after {
          display: block;
          content: '\25BE';
          font-size: 1.5em;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          color: #666666; }
      .site-navigation ul.menu li ul {
        background: #fff;
        display: none;
        min-width: 150px;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 100%;
        border: #eeeeee 1px solid; }
        .site-navigation ul.menu li ul li.menu-item-has-children a {
          -webkit-box-flex: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1; }
        .site-navigation ul.menu li ul li.menu-item-has-children:after {
          -webkit-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
                  transform: rotate(-90deg); }
        .site-navigation ul.menu li ul ul {
          left: 100%;
          top: 0; }
      .site-navigation ul.menu li:hover > ul {
        display: block; }

/* Post Item in Archive
   ========================================================================== */
.post .wp-post-image {
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover; }
  @media (max-width: 991px) {
    .post .wp-post-image {
      max-height: 400px; } }
  @media (max-width: 575px) {
    .post .wp-post-image {
      max-height: 300px; } }

/*
DO NOT CHANGE THIS FILE
to override any of the settings in this section, add your styling code in the custom directory.
 */
/* Comments
   ========================================================================== */
#comments .comment-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: .9em; }

#comments .comment,
#comments .pingback {
  position: relative; }
  #comments .comment .comment-body,
  #comments .pingback .comment-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0 30px 80px;
    border-bottom: 1px solid #cccccc; }
    body.rtl #comments .comment .comment-body, body.rtl
    #comments .pingback .comment-body {
      padding: 30px 60px 30px 0; }
  #comments .comment .avatar,
  #comments .pingback .avatar {
    position: absolute;
    left: 0;
    border-radius: 50%;
    margin-right: 10px; }
    body.rtl #comments .comment .avatar, body.rtl
    #comments .pingback .avatar {
      left: auto;
      right: 0;
      margin-right: 0;
      margin-left: 10px; }

#comments .comment-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .9rem; }

#comments .reply,
#comments .comment-metadata {
  font-size: 11px;
  line-height: 1; }

#comments .children {
  position: relative;
  list-style: none;
  margin: 0;
  padding-left: 30px; }
  body.rtl #comments .children {
    padding-left: 0;
    padding-right: 30px; }
  #comments .children li:last-child {
    padding-bottom: 0; }

#comments ol.comment-list .children:before {
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  line-height: 100%;
  content: '\21AA';
  position: absolute;
  top: 45px;
  left: 0;
  width: auto; }
  body.rtl #comments ol.comment-list .children:before {
    content: '\21A9';
    left: auto;
    right: 0; }

@media (min-width: 768px) {
  #comments .comment-author,
  #comments .comment-metadata {
    line-height: 1; } }

@media (max-width: 767px) {
  #comments .comment .comment-body {
    padding: 30px 0; }
  #comments .children {
    padding-left: 20px; }
  #comments .comment .avatar {
    position: inherit;
    float: left; }
    body.rtl #comments .comment .avatar {
      float: right; } }
