/*
* Repeatable Patterns
* flat-top
*/
.customize-control {
    float: none;
}

.customize-control input[type=tel], 
.customize-control input[type=url], 
.customize-control input[type=text], 
.customize-control input[type=password], 
.customize-control input[type=email], 
.customize-control input[type=number], 
.customize-control input[type=search] {
  height: 35px;
  line-height: 35px;
  width: 100%;
}

.themesflat-options-control-social-icons ul li {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: #242424;
  color: #fff;
  font-size: 17px;
  opacity: 1;
  filter: alpha(opacity=21);
}

.themesflat-options-control-social-icons ul li.item-properties {
  display: none;
}

.themesflat-options-control-social-icons ul li.item-properties.property_active {
  display: block;
}

.themesflat-options-control-social-icons ul li[data-link],
.themesflat-options-control-social-icons ul li.item-properties,
.themesflat-options-control-social-icons ul li.active {
  opacity: 1;
  filter: alpha(opacity=100);
}

.themesflat-options-control-social-icons ul li.item-properties {
    width: 100%;    
    padding: 5px;
    color: #333;
    background: #fff;
}

.themesflat-options-control-social-icons ul li.item-properties input[type=text] {
  min-width: auto;
}

[data-link].flat-android { background: #8ec147; }
[data-link].flat-apple { background: #777; }
[data-link].flat-behance { background: #0077ff; }
[data-link].flat-bitcoin { background: #f79012; }
[data-link].flat-buysellads { background: #c90100; }
[data-link].flat-codepen { background: #444; }
[data-link].flat-css3 { background: #0270bb; }
[data-link].flat-delicious { background: #31a9ff; }
[data-link].flat-deviantart { background: #05cc47; }
[data-link].flat-digg { background: #0093cc; }
[data-link].flat-dribbble { background: #ea4c89; }
[data-link].flat-dropbox { background: #007ee5; }
[data-link].flat-drupal { background: #0073ba; }
[data-link].flat-email-1 { background: #35c7ed; }
[data-link].flat-email-2 { background: #35c7ed; }
[data-link].flat-facebook { background: #4862a3; }
[data-link].flat-flickr { background: #ff1981; }
[data-link].flat-foursquare { background: #f04d7a; }
[data-link].flat-git { background: #f64d27; }
[data-link].flat-github { background: #999; }
[data-link].flat-google { background: #3f85f4; }
[data-link].flat-google-plus { background: #dd4b39; }
[data-link].flat-html5 { background: #e54d26; }
[data-link].flat-instagram { background: #3d6b92; }
[data-link].flat-joomla { background: #fc8f30; }
[data-link].flat-jsfiddle { background: #4679bd; }
[data-link].flat-lastfm { background: #df1c23; }
[data-link].flat-linkedin { background: #0177b5; }
[data-link].flat-linux { background: #39a6df; }
[data-link].flat-maxcdn { background: #ff5b02; }
[data-link].flat-medium { background: #333; }
[data-link].flat-pagelines { background: #444; }
[data-link].flat-paypal { background: #009cde; }
[data-link].flat-pinterest { background: #db242c; }
[data-link].flat-reddit { background: #ff4500; }
[data-link].flat-rss { background: #fc8f55; }
[data-link].flat-share { background: #01924b; }
[data-link].flat-skype { background: #00aff0; }
[data-link].flat-slideshare { background: #0679b5; }
[data-link].flat-soundcloud { background: #ff4e00; }
[data-link].flat-spotify { background: #84bd00; }
[data-link].flat-stack-exchange { background: #366fb3; }
[data-link].flat-stack-overflow { background: #07c; }
[data-link].flat-stumbleupon { background: #ea4b24; }
[data-link].flat-trello { background: #026aa7; }
[data-link].flat-tumblr { background: #2c4762; }
[data-link].flat-twitter { background: #55acee; }
[data-link].flat-vimeo { background: #44bbff; }
[data-link].flat-vine { background: #00bf8f; }
[data-link].flat-vk { background: #6281a3; }
[data-link].flat-whatsapp { background: #59ac23; }
[data-link].flat-windows { background: #00bcf2; }
[data-link].flat-wordpress { background: #1e8cbe; }
[data-link].flat-xing { background: #006464; }
[data-link].flat-yahoo { background: #5210c4; }
[data-link].flat-yelp { background: #c41200; }
[data-link].flat-youtube { background: #d02022; }
[data-link].flat-youtube-play { background: #d02022; }

.themesflat-options-control-social-icons ul li.item-properties button {
  position: relative;
  top: 5px;
}

.themesflat-options-control-social-icons ul li.active {
  background: #0073aa;
  color: #fff;
}

/* Thumb */
.customize-control .thumbnail.thumbnail-image {
  border: 2px solid #0085ba;
  padding: 5px;
}

/* Radio images */
.themesflat-options-control-radio-images {

}

.themesflat-options-control-radio-images input[type=radio] {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.themesflat-options-control-radio-images label {
  display: inline-block;
  margin: 5px 0;
  border: 2px solid #0085ba;
  padding: 5px;
}

.themesflat-options-control-radio-images label img {
    width: 100%;
}

/* Title control */
.themesflat-title-control {
    position: relative;
    text-transform: uppercase;    
    background-color: #0085ba;
    margin: 0 0 0 0;
    color: #fff;
    padding: 10px 5px 10px 5px;
    margin-top: 20px;
}

li.first-child .themesflat-title-control {
    margin-top: 0;
}


/* Desc control */
p.themesflat-desc-control {
    display: inline-block;   
}

.customize-category-select-control {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    font-weight: 600;
}



/* Title option */
/* switcher */
.themesflat-options-control-switcher {
  padding: 5px 0;
}

/* themesflat-options-control-inputs */
.themesflat-options-control-chosen.typography-font .themesflat-options-control-inputs select,
.themesflat-options-control-chosen.typography-font .themesflat-options-control-inputs input  {
  height: 35px;
  line-height: 35px;  
  display: inline-block;
  width: 100%;
}

.customize-control select {
    height: 35px;
    line-height: 35px;
}

.themesflat-options-control-chosen.typography-font .themesflat-options-control-inputs {
  margin-bottom: 20px;
}

/* customizer.css*/
/* Accordion  */
.flat-accordion .flat-toggle {
    margin-bottom: 10px;
}

.flat-accordion .flat-toggle .toggle-title.active:after {
    font-family: "FontAwesome";
    position: absolute;
    font-size: 14px;
    content: "\f077";
    left: 20px;
    top: 50%;
    margin-top: -16px;
    font-weight: normal;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    background-color: #0085ba;
}

.flat-accordion .flat-toggle .toggle-title:before {
    font-family: "FontAwesome";
    position: absolute;
    font-size: 14px;
    content: "\f078";
    left: 20px;
    top: 50%;
    margin-top: -16px;
    font-weight: normal;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    background-color: rgb(36,36,36);
}

.flat-accordion .flat-toggle .toggle-title.active:before {
    display: none;
}

.flat-accordion .flat-toggle .toggle-title {
    color: #a3a3a3;
    background-color: rgba(36,36,36,0.9);
    padding: 20px 20px 20px 70px;
    position: relative;
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 1px;
    cursor: pointer;
}

.flat-accordion .flat-toggle .toggle-content {
    padding: 10px;
    padding-top: 0;
    border: 1px solid #f7f7f7;
}

/* Page option */
.themesflat-options-control-power .themesflat-options-control-title {
    color: #eee;
}

.themesflat-options-control-power .themesflat-options-control-title.active {
  color: #222;
}

.themesflat-options-control-title {
    display: block;
    line-height: 30px;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 13px;
}

/* Switcher */
.themesflat-power {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.themesflat-power input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0085ba;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0085ba;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Accordion  */
.themesflat-accordion .flat-toggle {
    margin-bottom: 0px;
}

.themesflat-accordion .flat-toggle .toggle-title.active:after {
    font-family: "FontAwesome";
    position: absolute;
    font-size: 14px;
    content: "\f077";
    left: 20px;
    top: 50%;
    margin-top: -16px;
    font-weight: normal;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    background-color: #ffc857;
}

.themesflat-accordion .flat-toggle .toggle-title:before {
    font-family: "FontAwesome";
    position: absolute;
    font-size: 14px;
    content: "\f078";
    left: 20px;
    top: 50%;
    margin-top: -16px;
    font-weight: normal;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    background-color: rgb(36,36,36);
}

.themesflat-accordion .flat-toggle .toggle-title.active:before {
    display: none;
}

.themesflat-accordion .flat-toggle .toggle-title {
    color: #a3a3a3;
    background-color: rgba(36,36,36,0.9);
    padding: 20px 20px 20px 70px;
    position: relative;
    margin-top: 0;
    margin-bottom: 1px;
    font-size: 13px;
}

.themesflat-accordion .flat-toggle .toggle-content {
    padding-left: 70px;
    padding-top: 0;
}

.themesflat-options-control input[type="text"], .themesflat-options-control input[type="email"], 
.themesflat-options-control input[type="url"], .themesflat-options-control input[type="tel"], 
.themesflat-options-control input[type="password"], .themesflat-options-control input[type="number"], 
.themesflat-options-control textarea {
    border: 1px solid #ddd;
    height: 30px;
    border-radius: 2px;
    color: #777;
    min-width: 315px;
    padding: 0 10px;
    font-size: 12px;
    vertical-align: middle;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.05)
}

.themesflat-options-control input[type="text"]:focus, .themesflat-options-control input[type="email"]:focus, 
.themesflat-options-control input[type="url"]:focus, .themesflat-options-control input[type="tel"]:focus, 
.themesflat-options-control input[type="password"]:focus, .themesflat-options-control input[type="number"]:focus, 
.themesflat-options-control textarea:focus {
   border-color: #0085ba;
}

.themesflat-options-control textarea {
    min-height: 100px;
    min-width: 450px;
    padding: 10px;
    line-height: 1.8;
}

.themesflat-options-control img {
  max-width: 100%;
}

/* radio images*/

.themesflat-options-control-radio-images .themesflat-options-control-field {
  clear: left;
}
.themesflat-options-control-radio-images .themesflat-options-control-field input[type="radio"] {
  display: none;
}
.themesflat-options-control-radio-images .themesflat-options-control-field span {
  float: left;
  margin: 0 0px 0 0;
  position: relative;
}
.themesflat-options-control-radio-images .themesflat-options-control-field span img {
    opacity: 0.15;
    -moz-opacity: 0.15;
    -ms-opacity: 0.15;
    -webkit-opacity: 0.15;
    width: 100%;
}
.themesflat-options-control-radio-images .themesflat-options-control-field span:hover:after,
.themesflat-options-control-radio-images .themesflat-options-control-field span:hover:before {
  display: block;
}
.themesflat-options-control-radio-images .themesflat-options-control-field span:after {
  content: attr(data-tooltip);
  position: absolute;
  width: 100px;
  text-align: center;
  left: 0;
  bottom: 110%;
  padding: 7px 0;
  background: rgba(0,0,0,0.8);
  display: none;
  color: #fff;
  font-size: 11px;
  border-radius: 3px;
}
.themesflat-options-control-radio-images .themesflat-options-control-field span:before {
  border-top: 7px solid rgba(0,0,0,0.8);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  bottom: 90%;
  left: 50%;
  margin-left: -7px;
  display: none;
}

.themesflat-options-control-radio-images .themesflat-options-control-field input[type="radio"]:checked + span img {
  opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -webkit-opacity: 1;
}

/* image upload*/
.themesflat-options-control .upload-preview {
    border: 4px dashed #b4b9be;
    padding: 20px;
}

.themesflat_control_logo {
  width: 45px;
  height: 45px;
  z-index: 5;
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: transparent;
  margin-left: -22.5px;
  margin-top: -22.5px;
  background-image: url('../../images/controls/logo.png');
  background-size: cover;
}

.themesflat_box_control {
  position: relative;
  display: table;
}

.themesflat_box_control input[type=text] {
  width: 30px;
  height: 24px;
  position: absolute;
  text-align: center;
  margin: 5px 4px;
  padding:0;
  min-width: auto;
}

.themesflat_box_control input[type=text].top {
  left: 50%;
  margin-left: -15px;
}

.themesflat_box_control input[type=text].bottom {
  left: 50%;
  margin-left: -17px;
  bottom: 0;
}

.themesflat_box_control input[type=text].left {
  top: 50%;
  margin-top: -12px;
  left: 0;
}

.themesflat_box_control input[type=text].right {
  top: 50%;
  margin-top: -12px;
  right: 0;
}

.themesflat_box_margin {
  width: 270px;
  height: 259px;
  background-color: #FACC9A;
  z-index: 0;
}

.themesflat_box_border {
  background-color: #FEDE96;
  width: 194px;
  height: 182px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
    transform: translate(-50%,-50%);
}

.themesflat_box_padding {
  position: absolute;
  background-color: #C2D086;
  width: 120px;
  height: 113px;
  top: 50%;
  left: 50%;
  z-index: 3;
    transform: translate(-50%,-50%);
}

.themesflat-options-control-media-picker .upload-preview li {
  display: inline-block;
  position: relative;
  margin-right: 6px;
}

.themesflat-options-control-media-picker .upload-preview li a {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
}

.flat-accordion .flat-toggle .toggle-content li.themesflat-options-control-color-picker {
    position: relative;
}


.customize-control-checkbox label{
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 28px;
}
 
.onoffswitch_label{
  display: inline-block;
    vertical-align: top;
    margin-top: -1px;
    width: 200px;
}
 
.onoffswitch {
  position: relative;
  width: 40px;
  display: inline-block;
  float: right;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
 
.onoffswitch-checkbox {
  display: none!important;
}
 
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 18px;
  padding: 0;
  line-height: 18px;
  border: 2px solid #9E9E9E;
  border-radius: 18px;
  background-color: #9E9E9E;
  transition: background-color 0.2s ease-in;
}
 
.onoffswitch-label:before {
  content: "";
  display: block;
  width: 18px;
  margin: 0;
  background: #EBEBEB;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  border: 2px solid #9E9E9E;
  border-radius: 18px;
  transition: all 0.2s ease-in 0s;
}
 
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #0085ba;
}
 
.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #0085ba;
}
 
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0;
}

.themesflat_box_margin {
    width: 198px;
    height: 182px;
}

.themesflat_box_border {
    opacity: 0;
    visibility: hidden;
}

/* slider Control */
.slider-custom-control {
    margin-bottom: 45px;
}
.slider-custom-control input[type=number]::-webkit-inner-spin-button,
.slider-custom-control input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.slider-custom-control input[type=number] {
    -moz-appearance: textfield;
}
.slider-custom-control .customize-control-title {
    display: inline-block;
    width: 73%;
}
.slider-custom-control input[type=number] {
    text-align: right;
    width: 80px;
    height: 25px;
    line-height: 25px;
    float: right;
    border-radius: 3px;
    background: #0085ba;
    color: #fff;
    text-align: center;
    border-color: #0085ba;
}
.slider-custom-control input[type=number]:focus {
    border-color: #e7534e;
}
.slider-custom-control .slider-control {
    width: 85%;
    float: left;
    margin: 17px 0 0px;
}
.slider-custom-control .slider-reset {
    float: right;
    cursor: pointer;
}
.slider-custom-control .slider-value {
    border: none;
    text-align: right;
    width: 50px;
    margin-right: 5px;
}
.slider-custom-control .slider-value,
.slider-custom-control .slider-unit {
    float: right;
}
.slider-custom-control .ui-widget.ui-widget-content {
    border: 1px solid #9E9E9E;
}
.slider-custom-control .ui-corner-all,
.slider-custom-control .ui-corner-bottom,
.slider-custom-control .ui-corner-right,
.slider-custom-control .ui-corner-br {
    border-bottom-right-radius: 3px;
}
.slider-custom-control .ui-corner-all,
.slider-custom-control .ui-corner-bottom,
.slider-custom-control .ui-corner-left,
.slider-custom-control .ui-corner-bl {
    border-bottom-left-radius: 3px;
}
.slider-custom-control .ui-corner-all,
.slider-custom-control .ui-corner-top,
.slider-custom-control .ui-corner-right,
.slider-custom-control .ui-corner-tr {
    border-top-right-radius: 3px;
}
.slider-custom-control .ui-corner-all,
.slider-custom-control .ui-corner-top,
.slider-custom-control .ui-corner-left,
.slider-custom-control .ui-corner-tl {
    border-top-left-radius: 3px;
}
.slider-custom-control .ui-widget-content {
    background: #f4f4f4 none repeat scroll 0 0;
    color: #333;
}
.slider-custom-control .ui-slider-horizontal {
    height: 7px;
    background: #9E9E9E;;
    border-radius: 5px;
}
.slider-custom-control .ui-slider {
    position: relative;
    text-align: left;
}
.slider-custom-control .ui-state-default,
.slider-custom-control .ui-widget-content .ui-state-default,
.slider-custom-control .ui-widget-header .ui-state-default,
.slider-custom-control .ui-button,
.slider-custom-control .ui-button.ui-state-disabled:hover,
.slider-custom-control .ui-button.ui-state-disabled:active {
    background: #2885bb none repeat scroll 0 0;
    border: 1px solid #2885bb;
    color: #454545;
    font-weight: normal;
}
.slider-custom-control .ui-slider-horizontal .ui-slider-handle {
    margin-left: -9px;
    border-radius: 50%;
}
.slider-custom-control .ui-slider .ui-slider-handle {
    cursor: pointer;
    height: 18px;
    position: absolute;
    width: 18px;
    z-index: 2;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.slider-custom-control .dashicons-image-rotate {
    margin-top: 10px;
    color: #9E9E9E;
    size: 16px;
}
.slider-custom-control .dashicons-image-rotate:hover {
    color: #0085ba;
}

.themesflat_widget_socials {
  display: inline-block;
}

.themesflat_widget_socials ul {
  margin: 0;
}

.wpb_vc_param_value.image.attach_image { max-width: 50px; }